[2010-12-22 00:36] KushalP opened #1 "NetworkUtils not found"
When running the app as a maven project using `mvn clean install`, NetworkUtils is not found.

symbol: variable NetworkUtils
location: class org.littleshoot.proxy.DefaultHttpProxyServer

[2010-12-22 03:44] #1 closed, assigned to nobody

[2010-12-27 22:25] s3u opened #2 "Differences between 0.3 and 0.4?"
The pre-git version (0.3) was working fine as I could do a 'curl -x localhost:8080 <somehost>' to proxy requests. However, with the latest on github, curl fails with connection refused errors. Are there any known issues?

Thanks
Subbu

[2010-12-28 23:13] #2 closed, assigned to nobody

[2011-01-06 15:51] neotyk opened #3 "Allow modification of requests"
Allow modification of request before it gets send to target server.
We want to enrich requests with new header.

[2011-01-07 22:45] #3 closed, assigned to nobody

[2011-01-08 11:49] fvisticot opened #4 "Accounting per authenticated user"
I would like to user the GlobalTrafficShapingHandler to make accounting for authenticated user.
Scenario:
-User can only use an amount of MB per day/month
-Each time the user is connected and authenticated, the trafficShaper counts and checks the consumed volume
-If consumed volume threshold is reached, proxy blocks the traffic and redirect the user

How to do this feature with LittleProxy

[2011-01-26 16:59] damischa opened #6 "Allow setting the cacheManager for HttpServerPipelineFactory"
cacheManager for HttpServerPipelineFactory is private. There is no "good" way to use another cache implementation. No setters or even protected property.

I guess the solution is to add one constructor param for the cacheManager and modify the DefaultHttpProxyServer to supply the DefaultProxyCacheManager instance.

[2011-02-17 15:43] neotyk opened #7 "Please push updated version to repository"
Hi,
We are depending on HttpRequestFilter those changes are not pushed yet to public repositories.

Thank you,
Hubert.

[2011-02-18 00:44] #7 closed, assigned to nobody

[2011-02-21 13:32] fvisticot opened #8 "LittleProxy does not work when accessing m38v file (http streaming files)"
Hello,
I would like to use LittleProxy but i have a big pb when i try to
access video files (http streaming) with m38v format (Apple http
streaming format).
I'm using your proxy without any modification.

Any idea regarding this pb ?

The video can be accessible from iPhone/iPad/SafariMacOS at :
http://payment.demo.alcatel-lucent.com/demo/index2.html

Thanks in advance

Fred
.
The exception stack:

[2011-02-25 12:34] neotyk opened #9 "Error in connection counting"
In logs I found following:

What made me worried is last line: "We have -1 and 0 conn...".
Apparently this should not happen.
I've tried fixing it in our clone: https://github.com/sourcesense/LittleProxy
Though we still see this error.

Please help in fixing it.

[2011-05-21 02:04] #9 closed, assigned to nobody

[2011-05-21 02:07] adamfisk opened #10 "Error in connection close handling logic"
There's an issue where the browser/client will open a single connection to LittleProxy and send multiple requests through it. That results in multiple connections to external servers. Then, when one of those servers indicates the end of an HTTP response body _through closing the connection_ we don't necessarily close the connection to the browser because in some cases there are still other outgoin

[2011-05-29 22:35] #10 closed, assigned to nobody

[2011-07-26 11:51] EmilGoicovici opened #12 "HTTP CONNECT requests fail when LittleProxy is chained to another proxy"
If you run LittleProxy as HTTPS proxy and set an upstream proxy server using the HttpProxyServer.chainProxyHostAndPort field, LittleProxy will fail to serve HTTP CONNECT requests (such as https://www.google.com) because these HTTP requests are not sent to the upstream proxy server.

The solution would be to modify the HttpRequestHandler class accordingly:

[code]

Maybe my change on this method is

[2011-08-25 21:30] #12 closed, assigned to nobody

[2011-09-06 19:57] adamfisk opened #13 "Integrate DNSSEC into all DNS lookups"
In collaboration with NLNet, the LittleShoot team will be integrating DNS sec into all DNS lookups in LittleProxy. We will make this configurable from littleproxy.properties, and we will likely make DNSSEC resolution the default on startup.

[2011-10-13 19:14] adamfisk opened #15 "HttpFilters filtering per connection instead of per request"
See the mailing list thread here:

https://groups.google.com/forum/?hl=en_US#!topic/littleproxy/mej2BJeEtN4

Basically the logic for deciding whether or not to enable filtering on a request ins't as fine grained as it should be.

[2011-10-24 15:59] myleshorton opened #17 "LittleProxy doesn't support HEAD requests"
See this thread:

https://groups.google.com/forum/#!topic/littleproxy/fsdSJ-CvcJ4

The solution is to dynamically switch response decoders.

[2011-12-05 22:42] jasondiprinzio opened #19 "SslLauncher throws SSLException"
I started little proxy for http and I can intercept requests just fine.
When I start the SslLauncher and try to proxy requests via HTTPS I get this stacktrace:

$ java  -Dlog4j.configuration=file:///home/jason/Projects/littleproxy/src/main/resources/log4j.properties -cp target/littleproxy-0.5-SNAPSHOT-jar-with-dependencies.jar:.  org.littleshoot.proxy.SslLauncher 8989
About to start SSL server on

[2012-01-27 16:42] theotherian opened #20 "HttpServerPipelineFactory doesn't enforce an idle handler, though the client (DefaultRelayPipelineFactory) does"
The DefaultRelayPipelineFactory, which is used by connections that go from proxy to the web, specifies an IdleStateHandler and an IdleAwareHandler.  There are hardcoded values for read and write timeout of 40 seconds depending on the HTTP method specified (on a side note, this should probably be configurable, and there should probably be a read timeout on PUT and POST as well).

However, on the Ht

[2012-02-03 02:33] #13 closed, assigned to adamfisk

[2012-02-26 05:42] adamfisk opened #22 "Idle handlers prematurely closing connections for large files"

[2012-02-26 05:46] adamfisk opened #23 "Idle handlers should be more configurable"

[2012-02-26 07:37] #22 closed, assigned to adamfisk

[2012-02-28 19:36] myleshorton opened #24 "Error with chunked requests throwing NullPointerException"
From Petr Ferschmann in the forum:

java.lang.NullPointerException
        at org.littleshoot.proxy.HttpRequestHandler.processChunk(HttpRequestHandler.java:227)
        at org.littleshoot.proxy.HttpRequestHandler.messageReceived(HttpRequestHandler.java:208)
        at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:302)
        at org.jboss.netty.handler.codec.replay.ReplayingDe

[2012-02-28 19:39] #24 closed, assigned to nobody

[2012-03-04 03:14] adamfisk opened #26 "Allow more sophisticated proxy rules"
Along the lines of dansguardian for squid -- thanks to Ashish:

     <category name="videosites" action="warn">
      <rule>        <url> youtube.com </url>
      </rule>
      <rule>        <urlpattern> *video*.* </urlpattern>
      </rule>
    </category>

another action.xml file contains
   <action>

      <action name="warn" log="yes">
           <message> the URL $url you are visting is not p

[2012-03-04 03:27] #17 closed, assigned to adamfisk

[2012-03-08 21:20] ponomandr opened #27 "Could not find artifact org.dnsjava:dnsjava:jar:2.1.3 in central"
When I do fresh checkout of "master" branch and run build I get this:

[code]

The commit is 4a9921945339c4a86f4ee49f5249d70181b1291f

[2012-03-15 18:10] asoldano opened #30 "java.lang.NumberFormatException using IPv6 addresses"
Hi,
I'm using version 0.4. The HttpRequestHandler chokes on IPv6 addresses:

2012-03-15 18:49:52,095 INFO  [org.littleshoot.proxy.HttpRequestHandler:607] Caught an exception on browser to proxy channel: [id: 0x27972e3a, /0:0:0:0:0:0:0:1:49725 => /0:0:0:0:0:0:0:1:19385]
java.lang.NumberFormatException: For input string: ":1]:8080"
        at java.lang.NumberFormatException.forInputString(NumberForm

[2012-04-10 00:02] stigkj opened #31 "Use Travis CI for continuous integration"
[Travis CI](http://travis-ci.org) is a very nice and easy integratable hosted continuous integration service. Just add a .travis.yml to the root of the project and register on the site, and Travis will build and run tests for each push.

[2012-04-10 01:36] #31 closed, assigned to nobody

[2012-04-13 14:45] #20 closed, assigned to adamfisk

[2012-05-07 23:52] adamfisk opened #32 "Allow configuration of JMX"

[2012-05-08 00:18] #32 closed, assigned to adamfisk

[2012-05-08 00:41] #27 closed, assigned to adamfisk

[2012-05-22 14:19] qerub opened #34 "Decrease log level of some log messages"
Currently all log messages are of level INFO, WARN or ERROR. Some of these would be better classified as DEBUG or TRACE, e.g. the logging of HTTP requests; it doesn't make sense to have such detailed messages at INFO level.

[2012-05-30 15:01] isopov opened #36 "DefaultHttpProxy leaves infinite alive non-daemon threads after stopping"
Note: Previously called "DefaultHttpProxyServer does not stop"
I have tried to write a simple test using DefaultHttpProxyServer, but can not managed to stop it (underlying threads still live after returning from the stop() methods - especially some "Hashed wheel timer" live forever while two other threads terminate after about a minute after stopping ProxyServer)

My code is here:
https://gist.git

[2012-06-13 03:27] adamfisk opened #37 "Integrate some of the content optimization features in rabblt"
See http://code.google.com/p/rabblt/. The biggest one is probably just ad blocking, so this could just be "implement ad blocking".

[2012-07-26 17:44] myleshorton opened #39 "Allow compression of responses"
See https://groups.google.com/forum/?hl=en_US&fromgroups#!topic/littleproxy/HTCs_E0cA0c

[2012-07-28 07:31] adamfisk opened #40 "NPE when chunks arrive in requests before we've established outgoing connection futures."
See Sezgin's forum post at https://groups.google.com/forum/#!topic/littleproxy/wA483JInBmc

---

java.lang.NullPointerException
    at org.littleshoot.proxy.HttpRequestHandler.processChunk(HttpRequestHandler.java:225)
    at org.littleshoot.proxy.HttpRequestHandler.messageReceived(HttpRequestHandler.java:206)
    at org.jboss.netty.handler.timeout.IdleStateAwareChannelHandler.handleUpstream(IdleSt

[2012-07-28 07:33] #40 closed, assigned to adamfisk

[2012-08-30 20:47] #36 closed, assigned to adamfisk

[2012-09-02 08:54] nasis opened #41 "getMaxResponseSize() in DefaultHttpFilter should return a larger value"
see https://groups.google.com/d/topic/littleproxy/maorfyDonSk/discussion

The current value is 1024 \* 200;
Looking inside DefaultRelayPipelineFactory line 109 there a remark referring to a larger value
                    pipeline.addLast("aggregator",
                        new HttpChunkAggregator(filter.getMaxResponseSize()));//2048576));

How can I estimate the correct value for this paramete

[2012-09-04 22:20] adamfisk opened #43 "Doesn't properly handle chunked HTTP POSTs with proxy authentication"
Subsequent chunks would cause ClassCastExceptions. See:

https://groups.google.com/forum/?fromgroups=#!topic/littleproxy/Q2jugaYZCEM

[2012-09-04 22:21] #43 closed, assigned to adamfisk

[2012-09-04 22:32] #41 closed, assigned to nobody

[2012-09-04 22:38] #15 closed, assigned to adamfisk

[2012-09-07 00:56] adamfisk opened #44 "Doesn't correctly handle DNS resolution failures"
If clients attempt to connect to hosts that do not exist, LittleProxy doesn't fail gracefully.

[2012-09-07 01:26] #44 closed, assigned to adamfisk

[2012-09-12 16:51] gustavobmaia opened #45 "Erro pom"
[INFO] Scanning for projects...
[WARNING] POM for 'biz.aQute:bndlib:pom:1.50.0:runtime' is invalid.

Its dependencies (if any) will NOT be available to the current build.
[INFO] ------------------------------------------------------------------------
[INFO] Building LittleProxy
[INFO]    task-segment: [package]
[INFO] ------------------------------------------------------------------------
[INFO]

[2012-09-21 19:34] #45 closed, assigned to nobody

[2012-11-09 18:22] adamfisk opened #47 "Possible for proxy to freeze apparently on out-of-sync message reading"
This has appeared apparently in particular with HTTP CONNECT messages where it looks like incoming data from the HTTP request body is read as requests, causing overall request reading to get out of sync.

Possibly the result of large file uploads?

Maybe we can add a test of a large data upload of random in-memory data to some special /dev/null-like destination?

[2012-12-12 20:04] adamfisk opened #49 "Getting OutOfMemoryErrors in some cases"
We need to do much more rigorous performance testing.

Would be very useful to also integrate the following:

http://metrics.codahale.com/

[2012-12-18 07:05] #49 closed, assigned to nobody

[2013-01-16 21:13] adamfisk opened #53 "Memory leak after running for long periods of time, possibly related to large files."
We've experienced a memory leak in production where eventually LittleProxy will consume all of its heap space. Somehow accepted channels are not getting garbage collected in relay channels. I've attached a screenshot from Eclipse Memory Analyzer, but I just wanted to let everyone know we're aware of the problem and are giving it a closer look. Seems like it might be associated with proxying very l

[2013-02-06 00:44] adamfisk opened #56 "LittleProxy not working for some sites like exceptional.io"

[2013-02-08 20:04] skivvies opened #57 "switch to asynchronous dns?"
Switching to asynchronous DNS resolution can offer a significant performance gain. See for instance the "DNS resolution in Chrome" section of http://www.igvita.com/2012/06/04/chrome-networking-dns-prefetch-and-tcp-preconnect/. Worth exploring for LittleProxy?

[2013-02-28 19:19] #47 closed, assigned to adamfisk

[2013-02-28 19:20] adamfisk opened #59 "DNS lookup issues"
We might want to always use Google DNS?

See the following:

Host: p.twitter.com
Proxy-Connection: keep-alive
User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.17 (KHTML, like Gecko) Ubuntu Chromium/24.0.1312.56 Chrome/24.0.1312.56 Safari/537.17
Accept: */*
Referer: http://platform.twitter.com/widgets/tweet_button.1362008198.html
Accept-Encoding: gzip,deflate,sdch
Accept-Language: en-US,

[2013-03-13 17:25] cos opened #60 "Sonatype pom bug"
Version number here is 56:
https://oss.sonatype.org/content/repositories/snapshots/org/littleshoot/littleproxy/0.5-SNAPSHOT/maven-metadata.xml

While the actually uploaded sources have 55 (littleproxy-0.5-20130310.223244-55.pom). This confuses the dependency system, or at least it confuses sbt.

[2013-03-16 13:12] design365 opened #61 "a bug with version 0.5, help"
i use redsock and littleproxy in my localhost,

use iptables to direct all port 80  to redsock, and redsock push the data to littleproxy,

when i use littleproxy 0.4 ,it works fine,  here is the snapshot image:

![1](https://f.cloud.github.com/assets/3348948/266784/c270930a-8e3a-11e2-8665-b433d80d5490.jpg)

but when is use littleproxy 0.5 ,  the snapshot image:

![2](https://f.cloud.github.com/ass

[2013-03-16 13:14] design365 opened #62 "a bug with version 0.5, help"
i use redsock and littleproxy in my localhost,

use iptables to direct all port 80  to redsock, and redsock push the data to littleproxy,

when i use littleproxy 0.4 ,it works fine,  here is the snapshot image:

![1](https://f.cloud.github.com/assets/3348948/266784/c270930a-8e3a-11e2-8665-b433d80d5490.jpg)

but when is use littleproxy 0.5 ,  the snapshot image:

![2](https://f.cloud.github.com/ass

[2013-03-16 13:14] design365 opened #63 "a bug with version 0.5, help"
i use redsock and littleproxy in my localhost,

use iptables to direct all port 80  to redsock, and redsock push the data to littleproxy,

when i use littleproxy 0.4 ,it works fine,  here is the snapshot image:

![1](https://f.cloud.github.com/assets/3348948/266784/c270930a-8e3a-11e2-8665-b433d80d5490.jpg)

but when is use littleproxy 0.5 ,  the snapshot image:

![2](https://f.cloud.github.com/ass

[2013-03-19 17:45] #60 closed, assigned to nobody

[2013-04-17 13:09] cos opened #64 "Empty ChannelBuffer on larger data"
Hi,

I have a problem that might not be due to LittleProxy but it's the closest approximation:

I'm intercepting XMLHttpRequests from the browser with a request filter. The requests are POSTs. It works well when the content data is small but fails when it gets slightly larger, i.e. tens of kilobytes.

Basically, I'm getting `BigEndianHeapChannelBuffer(ridx=0, widx=0, cap=0)` from `HttpRequest#getC

[2013-06-11 09:00] jeffmaury opened #68 "OSGI integration"
I am willing to run LittleProxy inside an OSGI container for test purpose. However, the current JAR does not contain the needed OSGI metadata (Bundle identifier, Export-Packages, Import-Packages). They can be generated by the Maven Felix Bundle plugin

[2013-08-04 12:00] init-zz-max opened #69 "HttpRequest to the another proxy server"
Hello!

Could you please give advice, how to redirect HttpRequest to the another proxy server.
Which will classes need to use, which apзroach will better?

Example:
 public static void main(String[] args) {
        final HttpProxyServer server =
                new DefaultHttpProxyServer(3128, new HttpRequestFilter() {
                    @Override
                    public void filter(HttpReques

[2013-08-05 21:45] #53 closed, assigned to adamfisk

[2013-08-12 16:20] oxtoacart opened #70 "Use Log4J AsynchronousAppenders to avoid blocking on logging calls"
Profiling showed that occasionally we block on a logging call.  For now I'm turning down the default log level to avoid logging to much stuff.  The next step, if we want to take it, is to use AsynchronousAppenders like described in [this article](http://ricardozuasti.com/2009/asynchronous-logging-with-log4j/).

[2013-08-26 12:22] oxtoacart opened #74 "Construct a unit test for testing idle handling on client->proxy and proxy->server side"
We recently found a bug in our idle handling.  It would be nice to have a unit test to make sure it's working correctly.  For this test to be feasible, we need to add a facility to make the timeout configurable.  We can make our Jetty test server sleep for some period longer than the timeout to test the proxy->server side.  On the client->proxy side, if we can't find a way to make HttpClient idle,

[2013-08-26 12:33] #74 closed, assigned to nobody

[2013-08-29 19:47] subnetmarco opened #76 "Reverse proxy logs requests twice and processes responses twice"
I would like to create a proxy that redirects every request made to `127.0.0.1:9000` to `www.amazon.com`. I wrote the following code, which also adds a `x-test` header to the response, but it shows two errors:
- It seems like LittleProxy logs two incoming requests. The expected behavior would be to log only one request, the one incoming from `127.0.0.1:9000`.
- It also logs two responses, and it r

[2013-08-29 20:20] oxtoacart opened #77 "Support pre and post filtering for Http Requests"
Currently, HttpRequestFilters are applied just before the request is sent to the downstream server.  It would be nice to also support applying a filter prior to our proxy processing the request, such that the host information can be modified.

Here's the Gist:

https://gist.github.com/oxtoacart/6382909

[2013-08-29 23:50] oxtoacart opened #78 "Support streaming filtering"
Currently, HttpFilters used for both request and response filtering, automatically cause chunked transfers to be buffered prior to being passed to the filter.  This is very memory intensive and is often unnecessary.  Imagine for instance a filter that's simply inspecting/modifying request or response headers.

LittleProxy should instead pass all chunks (as HttpObjects) to the HttpFilter as they ar

[2013-08-29 23:56] #76 closed, assigned to nobody

[2013-08-30 15:42] #77 closed, assigned to oxtoacart

[2013-08-30 15:43] #78 closed, assigned to oxtoacart

[2013-08-30 18:12] oxtoacart opened #79 "Add back Man in the Middle Support"
Support for man in the middle (MITM) on https connections was lost as part of the 1.0 refactor.  We should add this back in.

There are two levels to which we can take it:
- Rudimentary (as before).  Proxy simply uses its own self-signed certificate, which does not match the domain of the server that the client requested.  Typical clients will not accept this certificate.
- Full.  Proxy actually a

[2013-09-07 15:10] oxtoacart opened #80 "Pool connections to chained proxies"
Establishing connections to chained proxies has a noticeable impact on latency, especially if those chained proxies use TLS.  We could improve performance by pooling connections to chained proxies.  This would require eliminating the idle timeout so that the connections don't get closed unnecessarily.

@adamfisk I think that in the long term this is a better solution than the SSLEngine caching tha

[2013-09-08 21:04] #80 closed, assigned to nobody

[2013-09-11 20:07] #69 closed, assigned to nobody

[2013-09-12 18:38] oxtoacart opened #84 "Set up GitHub pages to be served under domain littleproxy.org"
Adam has already set up the domain, we just need to set up the site to use that domain per [these instructions](https://help.github.com/articles/setting-up-a-custom-domain-with-pages).

The tricky bit is figuring out how to get the CNAME file into the root with the GitHub pages plugin.

[2013-09-12 19:32] #84 closed, assigned to nobody

[2013-09-18 15:40] oxtoacart opened #85 "Support certificate impersonation for Man in the Middle proxies"
We've added back basic MITM under issue #79.  To make this useful in production, it would be nice if someone could implement certificate impersonation.

See [here](http://corte.si/posts/code/mitmproxy/howitworks/) for an explanation of how this is done by [mitmproxy](http://mitmproxy.org/).

`MitmManager` already has a hook for this, so one would just need to implement an appropriate `MitmManager`

[2013-09-18 15:42] oxtoacart opened #86 "Test whether Server Name Identification (SNI) works for Man in the Middle proxies"
[SNI](http://en.wikipedia.org/wiki/Server_Name_Indication) allows for multi-tenancy under a single ip address, with each tenant serving its own certificate.  I haven't tested this yet, but I suspect that it may not work right now.  This is a task to test that.

[2013-09-18 16:30] oxtoacart opened #87 "Support Man in the Middle with Proxy Chaining"
The current implementation of MITM per #79 is mutually exclusive with proxy chaining.  It would be useful to be able to do proxy chaining and MITM at the same time.

This may be doable by just having the very last proxy in the chain do the MITM stuff.

[2013-09-18 21:10] codersbrew opened #88 "Issue with HTTP 301/302 with MITM"
Firefox has detected that the server is redirecting the request for this address in a way that will never complete.

When going to https://www.google.com
or e.g. https://bugzilla.mozilla.org/show_bug.cgi?id=561536

I get a loop of HTTP 301/302s that seem to not be completed by the MITM.

[2013-09-19 16:20] oxtoacart opened #89 "When unable to connect to a downstream proxy, LittleProxy issues a 502 Bad Gateway. It should instead respond with a connection refused or something like that."
A user who was using a firewall that blocked traffic from the proxy to the upstream server received a 502 Bad Gateway in his browser.  This is not necessarily intuitive and probably isn't the best response.

See [here](http://www.checkupdown.com/status/E502.html) for discussion of 502 errors.

[2013-09-20 12:46] oxtoacart opened #90 "HTTPS requests without host:port get assigned to a different connection than the one opened with the initial CONNECT"
Things work correctly if the browser issues requests like these:

CONNECT thehost:9000
GET thehost:9000/resource_on_the_host

However, if the browser issues requests like these, the 2nd get will result in an attempt to open a new connection:

CONNECT thehost:9000
GET /resource_on_the_host

[2013-09-20 12:57] #90 closed, assigned to nobody

[2013-09-23 12:27] oxtoacart opened #91 "Allow chained proxies to not do client authentication if they don't want to"

[2013-09-23 13:22] #91 closed, assigned to nobody

[2013-09-23 16:08] #88 closed, assigned to nobody

[2013-09-24 14:07] oxtoacart opened #92 "MITM proxying to hosts whose names begin with "http" is broken"
This was discovered by @robfletcher who tried using MITM to proxy requests to https://httpbin.org/get.

This was getting parsed into the empty string "", causing us to fall back on the host header to identify the host.  Unfortunately, at that point, we have lost the port information and consequently end up defaulting to port 80, which won't work for this SSL connection.

[2013-09-24 14:12] #92 closed, assigned to nobody

[2013-09-24 16:35] oxtoacart opened #93 "Filters on reused ProxyToServerConnections still reference the first HttpRequest that opened the connection"
They should instead reference the most recent request on that connection.

Found by @robfletcher

[2013-09-24 16:57] #93 closed, assigned to nobody

[2013-09-25 12:06] #79 closed, assigned to oxtoacart

[2013-09-25 12:07] oxtoacart opened #94 "Document projects that use LittleProxy"
Would be nice to know

[2013-10-01 12:18] robfletcher opened #96 "If idleConnectionTimeout is exceeded no response is returned"
I would expect to get a 504 but instead the connection is just terminating. Is there another way to specify the time the proxy should wait for a response from the target server?

[2013-10-03 08:56] khatribharat opened #97 "What does the 'httpObject' parameter in responsePre and responsePost methods signify ?"
Can you give a complete example, filling in the requestPre, requestPost, responsePre and responsePost methods ?
Basically, I'm looking for an example where one can add some extra content to the server's response to client through the proxy server.

Also, the example included in the README has an error: the ';' before start() method should not be there.

[2013-10-04 12:40] oxtoacart opened #98 "Turn down log level on errors/warnings about which nothing can be done"
Some things are currently getting logged at WARN or ERROR that should probably just be INFO or DEBUG.

[2013-10-05 12:02] oxtoacart opened #99 "Memory Leak"
[code]

[2013-10-06 13:05] oxtoacart opened #100 "Support suppression of LittleProxy ip address information from logs"
ProxyConnectionLogger currently includes source and destination ip information.  Need to add the ability to suppress this if desired (for privacy reasons).

[2013-10-07 12:09] #100 closed, assigned to oxtoacart

[2013-10-08 18:08] #98 closed, assigned to oxtoacart

[2013-10-08 18:25] subnetmarco opened #101 "Share data between filters"
I'm looking for a way to share data between different request and response filters belonging to the same proxy transaction.

For example in the following scenario I imagine an hypothetical `Context` object that is used by a `requestPre` filter to set some arbitrary data that is later retrieved from the `responsePost` filter:

[code]

This is extremely useful for authentication and custom logging s

[2013-10-08 18:37] #101 closed, assigned to nobody

[2013-10-09 18:58] subnetmarco opened #102 "java.lang.IllegalArgumentException"
I'm getting the following stacktrace when running the proxy:

[code]

My code

[code]

I'm using LittleProxy `1.0.0-beta1`

[2013-10-09 22:16] #102 closed, assigned to nobody

[2013-10-14 23:46] #96 closed, assigned to nobody

[2013-10-16 13:35] dparmar opened #105 "Proxy-Authorization assumes Basic scheme"
My proxy validates clients using Proxy-Authorization header but with a custom scheme (i.e. other than Basic). ClientToProxyConnection.authenticationRequired() assumes "Basic" scheme if Proxy-Authorization header is present.

It would be great if you can straightaway return from the method if ProxyAuthenticator is not present. This would open up the possibility of treating custom schemes by extendi

[2013-10-16 18:14] oxtoacart opened #106 "UDT binding reverses local and remote addresses"
See ProxyToServerConnection line 535:

`cb.connect(localAddress, remoteAddress);`

[2013-10-16 18:45] #106 closed, assigned to oxtoacart

[2013-10-24 11:49] #97 closed, assigned to nobody

[2013-10-24 11:54] oxtoacart opened #107 "Feature - Support Asynchronous HttpFilters"
Right now, the filters API is designed for synchronous processing.  If someone needs to do some I/O or something like that from a filter, it would be nice for them to be able to do so on another thread and then later resume processing the original request.

This might look something like this (HttpContext is a hypothetical new class):

[code]

The most difficult thing to work out will be what to d

[2013-10-24 11:56] oxtoacart opened #108 "Feature - Support Multiple HttpFilters"
A user has requested the ability to chain multiple HttpFilters in a way similar to the [Connect Middleware](http://www.senchalabs.org/connect/) for nodejs.

This is particularly interesting if implementing #107, since it would allow chaining asynchronous operations without having to do contortions in the HttpFilters implementations.

[2013-10-28 12:18] #70 closed, assigned to nobody

[2013-10-28 12:19] #62 closed, assigned to nobody

[2013-10-28 12:19] #63 closed, assigned to nobody

[2013-10-29 11:39] asoldano opened #110 "Issue with UDT SelectorProvider"
It would be nice to initialize the required SelectorProvider only. Currently DefaultHttpProxyServer$ServerGroup initializes selector providers for any supported transport protocol. I would need to avoid having the UDT one initialized, as that relies on native libs which might not be available on some environments (e.g. RHEL 5 does not have the right libstdc++ version). So, assuming I don't need th

[2013-10-31 02:20] arvind opened #111 "decompression failure (-3): incorrect header check"
On 1.0.0-b3, if I have defined:

`public int getMaximumResponseBufferSizeInBytes() { return 2048576000; }`

and I load cnn.com, I get the following stack trace:

[code]

[2013-10-31 22:26] arvind opened #112 "Terminate Connection on Exception"
If an exception is thrown in the bowels of LittleProxy, e.g. as in #111, I think LittleProxy should terminate the corresponding connection. Right now, if an exception is thrown for a particular request, the browser just hangs until it eventually 504 timeouts.

[2013-10-31 22:26] #111 closed, assigned to nobody

[2013-11-10 10:25] robfletcher opened #113 "Handle exceptions in filter implementations"
If I run into an unrecoverable error in a filter is there a way for me to hand off to an exception handler so that the proxy returns an error response? This is easy enough to do in `requestPre` and `requestPost` since I can construct and return my own response but I can't see a way to do it in `responsePre` or `responsePost`.

[2013-11-10 11:39] #113 closed, assigned to nobody

[2013-11-20 20:06] dkowis opened #114 "HttpFiltersSourceAdapter doesn't use FullHttpRequest"
Working on the Betamax project, and I've found a bug that I think may be rooted in LittleProxy instead of Betamax.

https://github.com/robfletcher/betamax/issues/118

It appears that the `HttpFiltersSourceAdaptor`, which is how you add filters to the proxyServer to be able to do stuff only gets you the `HttpRequest`, which does not include the body. For Betamax's purposes, and my use of that, I ne

[2013-11-20 20:23] #114 closed, assigned to nobody

[2013-12-02 16:42] oxtoacart opened #115 "Investigate memory spikes"
As used in the Lantern project, we have occasionally noticed memory spikes that may be due to large file uploads/downloads.  We should see if we can find a way to stimulate such memory spikes (perhaps with a slow reader?) and fix as necessary.

[2013-12-07 03:20] oxtoacart opened #116 "Ensures that SSL sessions are getting cached by chained proxies"
The TLS handshake is quite computationally expensive, so it would be good to make sure that the client and server are caching the SSL session to avoid having to renegotiate.

[2013-12-12 23:09] oxtoacart opened #117 "withPort() after clone() doesn't work"
When using `HttpProxyServer.clone()` to spool up a new server, using `withPort()` doesn't work - it's ignored and the system just uses one port higher.

As a workaround, `withAddress()` does work.

[2013-12-19 20:10] #117 closed, assigned to nobody

[2013-12-23 17:01] oxtoacart opened #118 "UDT transport is using DGRAM mode instead of STREAM"
From looking at the UDT packets with Wireshark, it looks like the UDT transport is using datagram mode instead of streaming mode, which is not what we want for HTTP proxying.

It's not entirely clear to me why, because both `DefaultHttpProxyServer` and `ProxyToServerConnection` are using `NioUdtProvider.BYTE_CONNECTOR`, which supposedly corresponds to UDT STREAM mode.

It's possible (though not li

[2013-12-24 04:30] oxtoacart opened #119 "Upgrade to Netty 4.0.14"

[2013-12-24 17:45] oxtoacart opened #120 "Need to call ChainedProxy.filterRequest for chained CONNECT requests"

[2014-01-07 19:30] alexnederlof opened #121 "The re-written HttpResponse is truncated"
I have been trying to adjust the HTML that the proxy returns. I cannot seem to get it working. It might also be a lack of knowledge of Netty.

Here's what I'm doing:

[code]

Even though I see the full content in the debugger, the server returns a truncated version. I believe it is truncated at the previous ByteBuf size.

I have also tried returning a new FullHttpResponse with a new ByteBuf but wh

[2014-01-15 11:22] oxtoacart opened #122 "Make ChannelHandlerContext available to filters"

[2014-01-15 11:22] #122 closed, assigned to oxtoacart

[2014-01-15 11:22] #120 closed, assigned to nobody

[2014-01-29 16:35] oxtoacart opened #126 "HTTP CONNECT requests don't pass through 407, making it impossible for client to authenticate with downstream proxy"
Use reports:

"I would like the browser user to be able to authenticate to downstream proxy if challenged.
I run LittleProxy in transparent mode so that it can pass on Proxy-Authorization header to the downstream proxy.

It works perfectly fine for GET requests but when CONNECT request is challenged with 407 by downstream proxy, HTTPCONNECTWithChainedProxy in LittleProxy converts every non 2xx res

[2014-01-30 14:40] oxtoacart opened #128 "Request filtering tests broken"
Unit tests that use request filtering are not working.

[2014-01-30 14:48] #128 closed, assigned to oxtoacart

[2014-01-30 14:49] oxtoacart opened #129 "Fix upstream/downstream terminology"
Comments and code currently reverse these two concepts.  They should be used in a way that is consistent with typical networking terminology, namely "upstream" is where you upload to and "downstream" is where you download to.

[2014-01-30 15:03] #129 closed, assigned to oxtoacart

[2014-01-30 15:03] oxtoacart opened #130 "Rename backendConnectTimeout to connectTimeout"
Just a minor thing, but the term "backend" isn't used anywhere else in the code/comments, so I'm removing it from the connectTimeout parameter.

[2014-01-30 15:12] #130 closed, assigned to nobody

[2014-01-30 16:15] oxtoacart opened #131 "Support use of Tor pluggable transports to connect to chained proxies"
See [Pluggable Transports](https://www.torproject.org/docs/pluggable-transports.html.en).

This will allow use of obfuscating proxies like [fteproxy](https://fteproxy.org/) to improve blocking resistance of chained proxies in censored regions.

The main part of this is making LittleProxy work with SOCKS relays in between the downstream and upstream servers.

fteproxy will be our test case to make

[2014-02-04 14:36] andrei-khveras opened #133 "Remove log4j xml or use .properties file"
Hey, geeks!

I just included the littleproxy in my classpxth and it's broken my log4j logging system.
The reason is that your project includes log4j.xml configuration file that has higher priority than all log4j properties files in my (parent) project and that your config essentially overrides my log4j config.

I think at all it is not a good practice to force some logging system into library that

[2014-02-04 15:05] #133 closed, assigned to nobody

[2014-02-05 09:38] #105 closed, assigned to nobody

[2014-02-19 17:17] oxtoacart opened #134 "Need way for ChainedProxyManager to block request"
Right now, a ChainedProxyManager can either supply a set of chained proxies to try, or not.  If it doesn't, LittleProxy always attempts a direct connection.  ChainedProxyManager needs some way of indicating that no chained proxies are available and that no direct connection should be attempted.

The most parsimonious way to do this is probably to use an empty list to signal this.  If ChainedProxyM

[2014-02-19 18:09] #134 closed, assigned to nobody

[2014-02-22 04:53] PatrickHuetter opened #135 "Is it possible to bind littleproxy to a specific interface?"
I have two or more physical network interfaces, connected to the internet and i would like to create a proxy for each of them. Is this possible with littleproxy? (using linux)

[2014-02-22 15:42] oxtoacart opened #136 "Support pluggable algorithm for identifying host and port from request"

[2014-02-22 16:18] #136 closed, assigned to oxtoacart

[2014-03-14 22:50] deltatree opened #138 "withManInTheMiddle => withProxyAuthenticator does not work"
With man in the middle activated a proxyAuthenticator does not work.

[2014-03-26 11:16] cedWetzel opened #139 "Binding the Proxy to a selected interface"
Hi, it may be useful in my case that I can bind the Proxy onto a selected network interface. For some developing scenarios we want to test our functions over a specific interface that has a proxy binded.
Is this possible yet or do we have to digg into other products?
Thank's for response.

[2014-03-26 14:53] #139 closed, assigned to nobody

[2014-05-12 22:20] rferreira opened #142 "Strange UDT related artifact left over by little proxy"
On OSX, JDK8, I build a simple proxy using this code:

[code]

and I get this weird leftover directory:

[code]

[2014-06-05 11:12] ceeaspb opened #143 "support for spdy/http2 proxying feature"

[2014-06-19 10:01] summerdream228 opened #144 "ClassCastException on ClientToProxyConnection"
Hi, all

anyone experienced the same error as following?

ERROR - [LittleProxy-ClientToProxyWorker-2] (AWAITING_CHUNK) [id: 0xdc304c54, /127.0.0.1:34871 => /127.0.0.1:18080]: Caught an exception on ClientToProxyConnection
java.lang.ClassCastException: io.netty.handler.codec.http.DefaultHttpRequest cannot be cast to io.netty.handler.codec.http.HttpContent
	at org.littleshoot.proxy.impl.ProxyConnect

[2014-06-29 19:19] charroch opened #146 "How to avoid redirect loop"
This is probably not specific to LittleProxy but was wondering how the implementation would look like in this particular case. We have the following scenario:

`Client request -> LittleProxy -> Web filtering pass -> request forwarded`

`Client request -> LittleProxy -> Web filterning fail -> Redirect to access denied page`

The denied page is configurable.

My current server follows:

[code]

And

[2014-06-29 20:16] #146 closed, assigned to nobody

[2014-07-02 06:39] bahriesz opened #147 "How do I capture the http request and response time?"
Hi,

I need some guide on how to capture the time request is in and time that the response completely receive?

thanks.

[2014-07-08 18:37] #131 closed, assigned to nobody

[2014-07-08 18:37] oxtoacart opened #149 "Falling back to an alternate chained proxy only works on connectivity errors, not on SSL errors"

[2014-07-09 09:06] carlspring opened #150 "Implement a Maven plugin"
Hi,

I was wondering: how hard would it be to implement a Maven plugin for this? It would be quite useful for running certain tests in projects/code that deal(s) with proxies.
Is there a basic programmatic example one could have a look at in order to implement this?

Kind regards,

Martin

[2014-07-09 19:45] #149 closed, assigned to oxtoacart

[2014-07-11 14:08] #150 closed, assigned to nobody

[2014-07-15 12:33] kenumir opened #152 "Simple server and error ERR_INCOMPLETE_CHUNKED_ENCODING"
I wrote simple server:

[code]

When I load this page into the browser:
http://wiadomosci.wp.pl/gid,16752769,kat,1356,title,Najgrozniejsza-gonitwa-w-tym-roku-zdjecia,galeria.html?ticaid=113166

On a file http://adsearch.adkontekst.pl/akon/intext_spliter?prid=3&caid=102429&form=9045:0:I&ns=1405426939016 errors occure:

ERR_INCOMPLETE_CHUNKED_ENCODING

In respose (headers):

[code]

Content is empty

[2014-07-25 20:55] vpanghal opened #154 "Keep alive Http 1.1 client connection"
I see Little Proxy is breaking the connection after serving the request even though header contain Proxy-Connection: Keep-Alive field

e.g. Here is the snippet from one of Http transaction.

[code]

Little proxy immediately disconnect the underlying socket connection after serving the request.

[2014-08-18 17:42] #154 closed, assigned to nobody

[2014-08-20 19:33] detro opened #156 "HTTPS broken when Netty > 4.0.14.Final"
In my project we have recently introduced Redisson, a library for Redis, version [1.1.5](http://mvnrepository.com/artifact/org.redisson/redisson/1.1.5).

As soon as we did that, LittleProxy went "banana" and HTTPS stopped working.

When trying to connect to any HTTPS address I get:

[code]

This wasn't easy to find out. Redisson includes Netty 4.0.19.Final.

I had to add to my `pom.xml`:

[code]

[2014-08-21 16:55] RhyssyhR opened #157 "Intercepting and Handling Bad Gateway situations"
In certain situations when we cannot connect to the remote server we would like to send back a retry instead of a 502 Bad Gateway, is there a nice way to intercept and transform a request to do this?

[2014-10-24 15:24] #156 closed, assigned to nobody

[2014-11-03 16:03] daniel0916 opened #159 "proxyToClientResponse"
Hello,

i can't find a way to get the data of the HttpObject from proxyToClientResponse. I also tried to cast it to HttpResponse but there i also can't find a method. Is there a method? And when where?

Greetings
Daniel

[2014-11-03 16:46] #159 closed, assigned to nobody

[2014-11-14 01:49] lucasPereira opened #160 "Version 1.1.0-beta1 on Maven"
Is there any perspective for provide LittleProxy on Maven?

Thanks.

[2014-11-14 05:40] dparmar opened #161 "Upgrade to Netty 4.0.24 to avoid POODLE vulnerability"
There is a fix (#3031) made in Netty 4.0.24 to disable SSLv3. Those applications using Netty SslContext can benefit from this fix without need to make any other change in their code.

[2014-11-27 12:43] foppa147 opened #162 "Wrong order of ChannelHandlers"
If using a request buffer size > 0 and requesting using curl there is a stacktrace:

[2014-11-27 12:09:45.650] ERROR - org.littleshoot.proxy.impl.ClientToProxyConnection - (AWAITING_INITIAL) [id: 0xce26bc4a, /10.101.32.180:37407 => /10.101.34.180:8080]: Caught an exception on ClientToProxyConnection
java.lang.UnsupportedOperationException: unsupported message type: DefaultFullHttpResponse

[2014-12-17 13:26] robitxj opened #165 "Can I open another TCP server as a thread to contact with some TCP Clients?"
I want to transport the Httprequest  to the TCP clients which are connecting the TCP server, the TCP clients get Httpresponse and send back to the proxy, then the proxy send back.
Can i succeed?

[2014-12-22 05:25] jekh opened #167 "HttpFilters.proxyToServerRequestSent() for large POSTs"
I discovered some unexpected behavior with proxyToServerRequestSent() and I wanted to see if it is working as designed. I'm trying to get the amount of time it takes to send a large POST request to a server. The POST generates an HttpRequest, followed by multiple HttpContent objects. However, I see that the proxyToServerRequestSent() filter method is invoked after the first HttpRequest is sent to

[2015-01-12 02:42] oxtoacart opened #173 "Move extras package into its own project"
There's no need for this to be part of LittleProxy proper.

[2015-01-12 05:22] jekh commented on #173
Would the extras be hosted in a separat repo, or submodules under littleproxy?

And besides dynamically-generated certs, are there existing features that you'd like to see moved into an extras package?

[2015-01-12 13:44] oxtoacart commented on #173
I think extras should be distributed as a separate jar, so it's probably most straightforward to make it a totally separate repo.  Other than maybe some unit tests, I don't think anything in LittleProxy depends on what's in the extras package.  If it does, maybe it shouldn't :)

Off the top of my head, I think everything else is tightly enough integrated into the core of LittleProxy that moving it

[2015-02-02 10:29] philipa commented on #160
I'd welcome this too.

BTW, was there a non-beta 1.0.0?

[2015-02-09 02:21] carlvine500 opened #177 "java.lang.OutOfMemoryError: Java heap space"
littleproxy is stared in my PC, the following error occured when I curl 10.144.33.117:8080 http://www.baidu.com , the version is <version>1.1.0-beta1-SNAPSHOT</version>, and update it at 2015-02-09 10:21 .

D:\work\little-proxy\LittleProxy.git\trunk\target>java -jar littleproxy-1.1.0-beta1-SNAPSHOT-littleproxy-shade.jar
log4j:WARN No appenders could be found for logger (org.littleshoot.proxy.Launc

[2015-02-15 21:58] jekh commented on #177
You can increase the maximum heap size using the -Xmx parameter, e.g.:
[code]

Increase the heap size if 512 MB still isn't enough for you.

[2015-02-17 19:49] jekh opened #178 "dnssec4j and dnsjava"
While building a shaded jar that included littleproxy, I noticed that dnsjava is being pulled in under the groupId org.littleshoot via the org.littleshoot:dnssec4j:0.1 dependency.

Since dnsjava is now being actively pushed to Central, littleproxy can exclude the org.littleshoot:dnsjava dependency and depend on dnsjava:dnsjava instead. (Ideally dnssec4j would be updated to point to the dnsjava gro

[2015-02-18 04:33] adamfisk commented on #178
Yes -- we should definitely ditch the dnssec4j dependency and only depend
on the maven central version of dnsjava. If you'd be up for submitting a
patch, that would be amazing.

On Tue, Feb 17, 2015 at 11:49 AM, Jason Hoetger <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-18 05:28] jekh commented on #178
I made the (latest) dnssec4j dependency optional, along with the Central version of dnsjava. I pushed the changes to the existing PR #176.

I'm not sure about how to go about moving from dnssec4j to an actively-maintained dnssec provider -- that will most likely require a larger effort from somebody who's more familiar with dnssec.

[2015-02-18 10:07] andrei-khveras commented on #119
This one issue looks resolved now.

[2015-02-18 12:27] andrei-khveras opened #180 "Too many open files issue at the Linux host"
I run multiple tests sequentially and each particular test starts individual DefaultHttpProxyServer instance and stops it in the end of the test.
At the Windows machines it's ok, but at the Linux host starting from test #21 starting proxy fails with the following in the stacktrace:

java.lang.IllegalStateException: Unable to initialize transport protocol UDT: failed to create a child event loop
..

[2015-02-18 12:33] andrei-khveras commented on #180
Uploaded full log here:
https://github.com/andrei-khveras/LittleProxyTest/blob/master/full_log.txt
Look for 'Too many' string to get to the issue point

[2015-02-18 19:21] jekh commented on #180
What version of littleproxy are you running? And what command line are you using to execute the test? Using the latest code in master I am not able to reproduce this using Oracle JDK 6 or 7.

Are you passing or setting any additional parameters? In your full log output at line 64-65 I see:
[code]

But when I run on my Linux box I don't see any UDT-related info (and I've set my root logger to DEBUG

[2015-02-18 19:50] #119 closed

[2015-02-18 22:37] andrei-khveras commented on #180
Hi, @jekh ,
I am running littleproxy-1.0.0-beta8.
I am not sure what you meant what you mean when you asking about the command line.
I execute something like that against JDK 7 with the same result:
cd littleproxy-test
mvn clean package
cd target/littleproxy-test-0.0.1-SNAPSHOT-MyTest
java -jar littleproxy-test.jar
So as you can see from my project pom I don't do any specific configuration.
We sus

[2015-02-19 01:53] jekh commented on #180
Thanks, @andrei-khveras. That's the info I was looking for -- how you run the test. I see now you're creating an executable jar using the maven-assembly-plugin and running that.

1.0.0-beta8 is ~6 months. I'm not sure how committed the LittleProxy maintainers are to keeping that version up-to-date, but many of the most recent bugfixes and feature enhancements have gone into the 1.1.0-beta1 version

[2015-02-19 10:38] detro commented on #180
I can testify that this issue is very real.

We use LittleProxy very intensely (like, we spin 20 instances of `DefaultHttpProxyServer` every 3/4 minutes, and shut down another 20 in the same time span).
Over time this builds up such a large number of open ports (that, in a linux system, are just 'open files'), that we had to raise the `ulimit` to 36k.

Still, after some days, this problem would re

[2015-02-19 16:15] andrei-khveras commented on #180
@jekh ,
I'll try to build 1.1.0-beta1 and try against my code.

[2015-02-27 19:26] TechnikEmpire opened #184 "MITM With SSL?"
I'm not sure if this is a bug or I'm just missing something, I'm assuming the latter. Trying to run the Mitm test, nothing happens on SSL connections. The browser just spins forever waiting for a response and I see no error or other activity coming from the proxy. I'm coming to LittleProxy from my own transparent proxy, and first thing I see missing is the creation, installation or any use of a ro

[2015-02-28 20:04] ganskef commented on #173
I've moved the mitm implementation from PR #174 into a separate module. Please consider to integrate the little modifications in #174 now.

I would like to see a release of LittleProxy with this.

[2015-03-02 20:08] jekh commented on #184
LittleProxy currently doesn't provide this configuration out-of-the-box. It does provide the MitmManager interface, which you can implement to customize your certificate generation as needed. It would be wonderful to get this functionality into LittleProxy, it just hasn't been done yet. There is talk of an extras package (see issue #173) to support this, and @ganskef is currently working on some S

[2015-03-02 20:18] TechnikEmpire commented on #184
@jekh I did this in C# with my own proxy, working on doing it in C++ as we speak. It's a real pain in the ass to be honest, but basically you've gotta just use bouncy castle to generate a root CA and then you can peek SSL sockets to read the TLS hello/sni/etc and generate an in-memory cert store on the fly. The only problem is, I've been out of Java for a long time (since android 2 :| ) so I'm fum

[2015-03-02 20:31] jekh commented on #184
I definitely understand that it is a huge pain in the ass... I am completely out of my element when it comes to SSL certificate spoofing. If it helps, the latest commit from @ganskef on his implementation (using bouncy castle) is at b2bd8fbb9f180dcf66700318799ad8631a7d51e4. That PR has since been repurposed, but I believe he has moved the MITM code to https://github.com/ganskef/LittleProxy-mitm.

[2015-03-02 20:40] TechnikEmpire commented on #184
Thanks for the links, I'll have a look tonight and see whats what. You're gonna wanna use ECDH for key exchange to balance security and performance. Anything else becomes so computationally expensive that user experience suffers to the point of it being unusable in any production scenario. TBH I'm out of my depth with this stuff too, I've just googled enough to make it work. :) lol Again I'll take

[2015-03-02 20:44] jekh commented on #184
Thanks for the links, @TechnikEmpire. I'll take a look. In terms of performance, assuming it doesn't take "too" long to generate certs (i.e. a few seconds or less), we should be able to leverage caching to make sure that certs are only generated once per host, rather than generating a new cert with every request. I can help with that though, once we have the foundations laid.

[2015-03-03 15:07] ebridges commented on #180
I'm not sure if it's connected or not, but I'd like to note that I'm getting, ultimately, the same exception on MacOS.  See details here:
https://groups.google.com/forum/#!topic/littleproxy/BB-JgW7opno

I'm able to run the above test case successfully, however I would like to note that after it has completed the 80 iterations it then proceeds to stop all of the threads (log message "Shutting down

[2015-03-15 02:26] jekh opened #189 "Unit tests disabled in travis-ci build"
I've noticed that unit tests in the travis-ci build are disabled by default. I wanted to see if this was a purposeful decision. @ganskef recently caught an error that travis-ci would have caught had unit tests been enabled. To avoid that happening in the future, we could enable travis-ci unit tests.

Currently there are some unit test failures, so of course before enabling unit tests those would n

[2015-03-15 13:16] ganskef commented on #189
Yes, tests should be enabled within pom.xml to run with every build.

But I think a major problem is, the tests are running to long. The tests
should be optimized to execute faster. I think, proxy and especially
servers should not be launched and stopped for every test method.

I'm willing to help with this, but how?

[2015-03-16 03:51] jekh commented on #189
I just opened PR #190, which should (hopefully) fix the unit test failures and get us on our way.

@ganskef -- could you [pull down that PR](https://help.github.com/articles/checking-out-pull-requests-locally/) and run `time mvn clean test -DskipTests=false` to make sure they're passing on your machine, and to see how long it takes you? I just ran them a few minutes ago and ended up with:
[code]
N

[2015-03-16 19:35] ganskef commented on #189
Am 16.03.2015 um 04:51 schrieb Jason Hoetger:

Well done! The tests succeeds:

Tests run: 104, Failures: 0, Errors: 0, Skipped: 1

[INFO]
------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO]
------------------------------------------------------------------------
[INFO] Total time: 09:18 min
[INFO] Finished at: 2015-03-16T20:16:03+01:00
[INFO] Final

[2015-04-24 20:12] solmetricchris opened #193 "start/stop behavior."
The API as written is great for starting up a proxy and letting it run.  However it's not designed in such a way as one might start and stop and then start again, the same proxy.   The particular feature is important for those of us who would like to use this proxy to simulate "offline" browser behavior.

Generally I would say, that a single change would make this possible.

1) make
    private Ht

[2015-04-27 08:06] pinghe opened #194 "netty5?"
There are plans to upgrade to netty5 it?

[2015-04-27 17:22] jekh commented on #194
Since Netty 4.1 is still in beta and 5.0 is far, far away, my guess would be, no immediate plans to use Netty 5.0.

Interest in using Netty 4.1 will be high once it is officially released. Among other things, it will support HTTP/2.

[2015-04-27 18:18] ganskef commented on #194
Hello,

I use Netty *4.1-Beta4* and 4.0.27.Final and 4.0.24.Final in my
environment with LittleProxy 1.1.0-beta1-SNAPSHOT. Simply add
LittleProxy and Netty as a dependency to your project and try it out.

Note(!), the following Netty versions are *broken* for me: 4.1.0.Beta3
and 4.0.25.Final and 4.0.26.Final. Linux is always ok, but I support OS
X, Android and Windows, too. It's NIO, using the sys

[2015-04-29 08:26] pinghe opened #195 "Support the network?"
[code]

[2015-04-29 11:01] ganskef commented on #195
Consider to use:
org.littleshoot.proxy.HttpProxyServerBootstrap.withChainProxyManager(ChainedProxyManager)

Specify a ChainedProxyManager to use for chaining requests to another
proxy.
Default = null
Note - This and withManInTheMiddle(MitmManager) are currently mutually
exclusive.
Parameters:
	chainProxyManager

Am 29.04.2015 um 10:26 schrieb pinghe:

[2015-04-30 06:15] priomsrb opened #196 "littleproxy.org does not respond"
The README has links which point to http://littleproxy.org. However, the links cannot be reached and time out. Maybe they should be changed to point to http://www.littleshoot.org/littleproxy/ instead.

[2015-05-04 09:11] pinghe commented on #195
withChainProxyManager not solve the problem, downstreamProxy to upstreamProxy through http proxy.

[2015-05-05 06:58] mathanv commented on #87
Please support this feature!!

[2015-05-05 18:02] ganskef commented on #87
It's working with ganskef/LittleProxy-mitm, but you need some little modifications to the LittleProxy SNAPSHOT version.

I've contributed it to mockserver too and it's been integrated there.

Am 5. Mai 2015 08:58:56 MESZ, schrieb mathanv <notifications@github.com>:

[2015-05-06 06:09] mathanv opened #201 "ChainedProxy - FALLBACK_TO_DIRECT_CONNECTION is not working"
UseCase:
My implementation is about forwarding all the requests to a another proxy except for the ones  to  the localhost. And, all my workflow begins with a request to localhost which then triggers the execution of non-localhost urls.

Issue:
 I tried using the FALLBACK_TO_DIRECT_CONNECTION, which is set to default instance of ChainedProxyAdapter, for all the localhost requests, and I expect the

[2015-05-06 07:10] mathanv commented on #201
Looked at setupConnectionParameters in ProxyToServerConnection, and it has an explicit check for chainedProxy != ChainedProxyAdapter.FALLBACK_TO_DIRECT_CONNECTION in which case it assumes a valid upstream ChainedProxy instance in place.
However, in my case, I passed my own implementation of ChainedProxy which is CustomChainedProxyAdapter, and hence it invalidated the above mentioned assumption.

T

[2015-05-06 10:58] mathanv opened #202 "ChainedProxy - Unable to see the GET requests for HTTPS requests"
While I understand that the response filters will work for HTTPS requests only when MITM is enabled, and ChainedProxy & MITM are mutually exclusive, I am still unable to see the request filters being executed even for the GET requests of HTTPS requests.

When ChainedProxy is enabled and HTTPS request is made from the browser, only the CONNECT request is visible in the filters, and the following GE

[2015-05-06 13:27] mathanv commented on #87
Thanks! I had a look at your modifications but I did not find any changes in DefaultHttpProxyServer and ProxyToServerConnection classes where lies the main switching points between MITM and ChainedProxy. Just wondering how can I enable both, and get them working with your fix.

Please suggest.

[2015-05-06 18:12] ganskef commented on #87
Sorry, I misunderstand you. This implements MITM with a Certificate Authority and dynamic generated keys, but I've never tryed to use it in conjunction with a chained proxy.

Am 6. Mai 2015 15:27:33 MESZ, schrieb mathanv <notifications@github.com>:

[2015-05-06 18:20] mathanv commented on #87
No problem. I am in dire need of using both MITM and ChainedProxy together for recording the request/responses of HTTPS traffic relayed to another web proxy. The worst case which is happening now is that once ChainedProxy mode is enabled all the HTTPS requests get tunneled, and even the GET requests cannot be sniffed by the filters :-(. All one can see is the CONNECT requests here.

[2015-05-07 04:21] BeamLiu commented on #184
It is happy that I found similar discussion here, I did a fork from main stream, and implemented the CA signed feature, it is really nice feature, user only need install the LittleProxy generated CA to his system, then the boring security warning dialog won't come up again.

I am also using bouncy castle to generate the different website certificates in the fly, then sign the certificates using CA

[2015-05-09 01:46] jekh commented on #184
@BeamLiu Thank you! I've only been able to do a cursory glance so far, but I'm very excited about this. I'll be busy for the next few days but will have a deeper look as soon as I can. Hopefully in the meantime others like @ganskef will be able to review as well (he has done some work on this already and is much better-versed in SSL than I am).

[2015-05-09 01:54] jekh commented on #202
This is the expected behavior -- MITM + Chained Proxy is not currently supported. Both request and response filters only work for HTTPS requests when MITM is enabled.

[2015-05-09 08:29] mathanv commented on #202
I can understand about the response filters not working without MITM. However, why would not request filters work for CONNECT and GET requests? Even when neither MITM nor ChainedProxy is enabled, request filter used to receive both CONNECT and GET requests.

[2015-05-09 09:02] ganskef commented on #184
@BeamLiu Thank you! I would love it, to have a CA implementation in a LittleProxy release. Please have a look at CR #174 and ganskef/LittleProxy-mitm. I will have a closer look at your code - first thougts:

I use Guava instead of Apache LRU cache. But, I think caching is not really neccessary, since it benefits from LittleProxys connection cache. It's optionally in my implementation.
I use a PKCS

[2015-05-09 10:09] BeamLiu commented on #184
Thanks @jekh , @ganskef , interesting, it seems we are doing similar, sorry for that I didn't had a search before my starting. Anyway, both of u could have a round of reviewing first if u have time, my use case is to intercept browser traffic in desktop, I was trying to modify less code as possible, so I just forked from master, and had code changes directly. I will take a look at @ganskef 's code

[2015-05-09 13:46] TechnikEmpire commented on #184
Is there a way with bouncy castle to recycle a sort of SSL context? I'm curious because from my own experience this was very much necessary for performance on both client and server end. For your client context you want to load ca-bundle once and share this as a universal context but on downstream where you're faking being different servers, you wanna use SNI with a default context and swap contex

[2015-05-09 22:11] jekh commented on #202
Requests are encrypted, just like responses. MITM intercepts, decrypts, then re-encrypts both requests and responses coming through the proxy. Without MITM, you will only see the initial HTTP CONNECT. Everything else is unintelligible to the proxy (by design, that is the point of encryption).

[2015-05-10 07:43] ganskef commented on #202
Hello all, please look at Aldo Cortesi http://corte.si/posts/code/mitmproxy/howitworks/index.html for a excellent description of proxy interception processes.

[2015-05-10 08:11] ganskef commented on #184
Hello @beamliu, please have a look at CR #173. That is what I'm waiting
for. MITM seems not to be invited to be a part of LittleProxy core. I
think, it have to be core, since https is growing in the web (ArchLinux,
Debian, github, mdn, google, http2, spdy...).

Am 09.05.2015 um 12:09 schrieb BeamLiu:

[2015-05-10 08:43] ganskef commented on #184
Hello @TechnikEmpire, in my experience it was not really neccessary to cache the SSLContext for the dynamic server certificate. I generate an 1024 bit RSA key pair using SHA1PRNG. Thoughts: 2048 takes much longer time on older CPUs. And for almost every client (every browser I've tried), 1024 is sufficient. With my 6 jear old notebook key generation is done in 50-500ms, once per host, up to 8 conn

[2015-05-10 20:18] jekh opened #203 "Client connection not closed when server closes connection"
With the help of some BrowserMob Proxy users, I've discovered a defect in connection handling that is causing pages to fail to finish loading. The problem stems from LittleProxy's reluctance to close client connections, even when a server connection is closed. One Client-to-Proxy connection can serve multiple Proxy-to-Server connections, so when a server closes a connection, LittleProxy checks to

[2015-05-11 16:00] myleshorton commented on #203
Thanks for the great debugging @jekh. I believe this is a regression from they netty 4 upgrade. The prior LittleProxy used #2 and #3, which I agree is the more complex approach but the most "correct" and best performing. This was handled in HttpRelayingHandler if that code might be useful. Have a look at this general area (it's a complex issue so a number of cases to check as you mention):

https:

[2015-05-11 20:33] jekh commented on #203
Thanks, @myleshorton. That link is very helpful. So we need to add in a check for the end-of-entity indicator, and take appropriate action if connection closure is being used to indicate the end of the entity.

While thinking about this issue, two thoughts occurred to me:

1. Instead of closing the connection to the client to indicate the end of a message (as the server does), we could instead tra

[2015-05-11 21:35] myleshorton commented on #203
I like it.

Agreed!

[2015-05-12 13:34] ganskef commented on #184
Hello @beamliu, I've installed your fork in Debian 8. All tests passes. I've run the Launcher with -port 9090 -ca_mitm. I've found a certificate and a key store in my home dir. Good.

Now I've tried to import littleproxy_root.cer as a Certificate Authority in both Chromium and Iceweasel (Mozilla Firefox) browsers, but it fails with this message:
The file contained one certificate, which was not im

[2015-05-12 22:46] jekh commented on #203
Thanks for the feedback, @myleshorton! I just submitted a PR for these changes. Would you mind having a look at #204 and commenting as appropriate?

[2015-05-13 17:01] ganskef opened #205 "Getting the proxy URL directly causes an endless loop"
If I run the the LittleProxy Launcher with -port 9090 and retrieve the URL http://localhost:9090/ with a browser, the connection blocks. After cancellation, the proxy process starts high load and after some more seconds, the console floods with logging. I have to terminate the proxy process.

I handle such requests in the FiltersSource with Filters which answering HTML in my application. So it's n

[2015-05-13 18:24] jekh opened #206 "Adding Via header aliasing and removing hostname detection"
As mentioned in PR #197, I would like to enhance the Via header that LittleProxy adds to requests and responses. I’d like to get some feedback before putting together a PR. My chief goals are:

1. Enable aliasing. [Section 14.45 of the HTTP spec](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.45) allows proxies to identify themselves in the Via header with an alias:

  Enabling alias

[2015-05-13 18:29] jekh commented on #205
Very interesting. I'm surprised there isn't a test case for this already. This should be simple enough to implement if we return 404 whenever the Host or URL matches the listen address of the proxy.

[2015-05-13 19:47] ganskef commented on #173
I've built an parent module to build LittleProxy and LittleProxy-mitm in Travis CI: https://github.com/ganskef/LittleProxy-parent. It contains Git submodules to include the unreleased versions. An additionaly update module performs an submodule update to avoid outdating. But, I've no idea how this works with releases.

Please give me a hint, what's about MITM with LittleProxy.

[2015-05-13 21:35] ganskef commented on #206
I agree to remove the host name detection. The current implementation in
static initializing is wrong for me. I'm working in mobile, changing,
online and offline environments with no static address and I have
excluded UDT in my runtime (I suppress the exception in log4j).

Am 13.05.2015 um 20:24 schrieb Jason Hoetger:

[2015-05-14 04:23] adamfisk commented on #205
Ha! Pretty straightforward attack that.

On Wed, May 13, 2015 at 11:29 AM, Jason Hoetger <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-05-14 06:45] BeamLiu commented on #184
Hi @ganskef , according to https://wiki.mozilla.org/CA:Recommendations_for_Roots , I added the additional CA=true extension into the root certificate, please update the latest code and remove the old keystore and certificate in user home directory, it should work now. Thanks a lot. Later, I will also have a try in Linux, and the intecerption between android and server over https.

[2015-05-14 09:23] ganskef commented on #184
Hello @BeamLiu, yepp it's working now like expected. But, this means it
fails with https://developer.chrome.com/ :-( .

The reason is, the Alternate Service Name field in the upstream
certificate is truncated. I could not locate the reason.

My workaround is to create the fake certificate with the requested host
name CN=developer.chrome.com instead of CN=misc.google.com and SNA=
DNS-Name: misc.goo

[2015-05-15 03:10] BeamLiu commented on #184
hi @ganskef , yes, I tested here, the same, I believe the google certificate may have some special and lead to some potential bug in lower level library, however, the browser can recognize all the SAN. I had a testing, to publish 120+ SAN in my local, and then use this proxy, it seems everything works fine. Don't know what is special with the google certificate.

There should be some more bugs in

[2015-05-15 06:38] BeamLiu commented on #205
It will be helpful if the proxy server could response a HTML page, to tell the proxy server state and healthy, more, is there any metric published or interface to calculate the metrics from proxy server? If we have those add-on, then the response HTML page would be a good choice to display those metrics, even, for the MITM certificate, this HTML page would also be a candidate to have link to insta

[2015-05-15 09:05] ganskef commented on #184
Hi @BeamLiu, it was very hard for me to build automated tests. Most of
my clients have done the handshake with the upstream proxy instead of my
MITM extension, like browsers does it. This seems to be happens with a
Netty based client and with Apache HC. Only an URLConnection based
client works for me. It was hard to debug. I felt me a little lost in
the connections :-) . Frank

Am 15.05.2015 um 05

[2015-05-16 21:46] #167 closed

[2015-05-17 04:18] jekh opened #207 "Java "internal_error" with MITM on some sites"
A BrowserMob Proxy user [reported an issue](https://github.com/lightbody/browsermob-proxy/issues/221) where sites using the CloudFlare Flexible SSL service, such as https://kitematic.com/, experience this error:

`Caused by: javax.net.ssl.SSLException: Received fatal alert: internal_error`

I traced this problem back to LittleProxy, but I'm at a loss to understand what "internal_error" could possi

[2015-05-17 13:46] ganskef commented on #207
Hi Jason, I've reproduced it with https://kitematic.com/ (with my implementation and Netty 4.1.0-Beta5), too. I've ececuted my tests with -Djavax.net.debug=all and compare a direct with a proxied connection. I've found this difference in the output:

Working handshake with URLConnection
*** ClientHello, TLSv1
...
Extension elliptic_curves, curve names: {secp256r1, secp384r1, secp521r1}
Extension e

[2015-05-23 20:38] jekh commented on #207
Thanks for investigating this, @ganskef. I just opened PR #210 with the commit you referenced here. Would you mind taking a look and letting me know if there's anything else that needs to be done before this can be merged?

This is actually a major issue, so thank you so much for investigating & fixing it!

[2015-05-24 23:48] jekh commented on #207
Since the discussion is taking place in PR #210 now, I'll close this issue.

[2015-05-24 23:48] #207 closed

[2015-05-25 15:22] andreldm commented on #160
@lucasPereira: someone went ahead and uploaded the beta version to maven repo:
http://search.maven.org/#search|gav|1|g%3A%22net.lightbody.bmp%22%20AND%20a%3A%22littleproxy%22

But the description says:
This LittleProxy artifact is a beta release exclusively for BrowserMob Proxy. Other users should use the official LittleProxy release at org.littleshoot:littleproxy.

[2015-05-25 20:41] jekh commented on #160
I published the BrowserMob Proxy build of LittleProxy that you found. The description sums it up pretty well. It's not designed for general use, and it is not supported by the LP community, or by the BMP community apart from its use in BMP. It's basically LP master + the recent PRs that have been submitted, not all of which have been thoroughly reviewed by other contributors.

While you certainly

[2015-05-25 22:11] jekh commented on #4
This issue is pretty ancient, so I feel fairly confident closing it. Despite being over 4 years old, the solutions Adam outlined still sound like the right approach.

[2015-05-25 22:11] #4 closed

[2015-05-25 23:20] jekh commented on #30
I was a little surprised when I discovered that this issue still exists! I just submitted PR #211 which should fix it.

[2015-05-25 23:21] jekh commented on #6
@damischa - can you give any more information on what this issue was about and what you were trying to achieve? (I know it's rather old!)

[2015-05-25 23:23] jekh commented on #34
It looks like this was implemented in ProxyToServerConnection#readHTTPInitial, so I'll close this issue.

[2015-05-25 23:23] #34 closed

[2015-05-25 23:28] jekh commented on #59
Hi @adamfisk - since it's possible to specify a custom host resolver when bootstrapping, it should be possible for the user to implement any custom DNS resolution system, including always using Google DNS (if desired). Do you think that addresses your concern from this issue?

(We actually do make use of LP's pluggable name resolvers in BrowserMob Proxy, allowing users to use the dnsjava DNS libra

[2015-05-25 23:32] jekh commented on #61
@design365 - are you still seeing this issue? Can you paste the log output when you observe the issue?

[2015-05-25 23:37] jekh commented on #121
I ran into a similar issue, and @cyberflohr's suggestion is indeed the solution I implemented.

@alexnederlof - are you still experiencing this issue, or is it safe to close?

For the record, here's the method I use to rewrite message contents:
[code]

[2015-05-25 23:39] jekh commented on #112
@arvind - is this still an issue for you? I've seen the same Ox reported (i.e., the connection does properly terminate).

[2015-05-25 23:41] jekh commented on #144
Since it looks like this error hasn't been reproduced in quite a long time, I'll go ahead and close it. @summerdream228 - please reopen if you encounter it again.

[2015-05-25 23:41] #144 closed

[2015-05-25 23:43] jekh commented on #135
Since this feature was implemented by PR #172, I'll go ahead and close it. I've been successfully using this feature for some time. Thanks for reporting it, and thanks to everyone who implemented it!

[2015-05-25 23:43] #135 closed

[2015-05-25 23:46] jekh commented on #147
@bahriesz - after using the facilities provided in PR #153, you should be able to get the timing information you need. You can also have a look at BrowserMob Proxy's [HarCaptureFilter](https://github.com/lightbody/browsermob-proxy/blob/master/browsermob-core-littleproxy/src/main/java/net/lightbody/bmp/filters/HarCaptureFilter.java) class, which captures extensive timing information using LittlePro

[2015-05-25 23:47] jekh commented on #177
@carlvine500 - did the suggestion above fix your issue? Are you having any other problems with heap space?

[2015-05-25 23:53] jekh commented on #26
@adamfisk - I think you could implement this functionality pretty easily using the filters. I think a good place for this would be a separate project incorporating LittleProxy, or a separate "extras" project that can be used with LittleProxy (similar to what Ox described in #173). What do you think?

[2015-05-25 23:55] jekh commented on #23
@adamfisk - do you have any more info on this? Was this feature implemented by the `withConnectTimeout()` and `withIdleConnectionTimeout()` methods that were added to the bootstrap?

[2015-05-25 23:56] jekh commented on #64
Hi @cos - are you still experiencing this issue with the latest version of LittleProxy in master? Can you give any steps to reproduce it?

[2015-05-25 23:58] jekh commented on #165
@robitxj - can you give any more info on this issue?

[2015-05-26 00:03] jekh commented on #57
@skivvies - Can you explain your idea in more detail? Since LittleProxy deals with individual HTTP requests, not pages like a browser does, there's only ever one address to lookup at a time. What could LP do to asynchronously look up addresses?

[2015-05-26 00:15] jekh commented on #138
@deltatree and @oxtoacart -- it sounds like this issue is fixed. Is this issue safe to close?

[2015-05-27 11:41] MediumOne commented on #152
There is indeed an error with the site. I see some junk characters in the response headers -

![incomplete_chunked_encoding](https://cloud.githubusercontent.com/assets/12625980/7835028/56d9fa7e-0493-11e5-9612-c8eb8d83bbdd.png)

Could this be causing littleproxy to fail?

[2015-05-27 16:28] myleshorton commented on #152
Very interesting @MediumOne thanks. Could you put together a unit test to see how LittleProxy handles this?

[2015-05-27 17:45] jekh commented on #152
I too would be very interested to see how LP currently handles this. @MediumOne - if you want to construct a quick-and-dirty unit test with the erroneous header, have a look at TimeoutTest, which makes use of MockServer. MockServer makes it very easy to create custom headers for test cases.

Regardless of how LittleProxy does actually respond, there is a question of how LP _should_ respond to a re

[2015-05-29 21:47] adamfisk commented on #23
https://github.com/adamfisk/LittleProxy/issues/23#issuecomment-105338505

[2015-05-29 21:47] #23 closed

[2015-05-29 21:48] adamfisk commented on #26
Yup sounds right @jekh. Closing for now.

[2015-05-29 21:48] #26 closed

[2015-05-29 21:49] adamfisk commented on #59
Makes sense @jekh thanks. Closing!

[2015-05-29 21:49] #59 closed

[2015-05-29 21:52] adamfisk commented on #30
Fixed in #211

[2015-05-29 21:52] #30 closed

[2015-05-31 19:46] heartwilltell commented on #144
(AWAITING_INITIAL) [id: 0x1a061719, /192.168.1.180:61433 :> /192.168.1.180:1488]: Caught an exception on ClientToProxyConnection
java.lang.ClassCastException: io.netty.handler.codec.http.LastHttpContent$1 cannot be cast to io.netty.handler.codec.http.HttpRequest
	at org.littleshoot.proxy.impl.ClientToProxyConnection.readHTTPInitial(ClientToProxyConnection.java:76)
	at org.littleshoot.proxy.impl.Pr

[2015-05-31 22:34] jekh commented on #144
@heartwilltell - can you give some context around this stack trace? What website were you accessing? What version of LittleProxy are you using? Can you paste the log contents surrounding the error? Etc.

[2015-06-02 10:09] heartwilltell commented on #144
@jekh

<dependency>
            <groupId>net.lightbody.bmp</groupId>
            <artifactId>browsermob-core-littleproxy</artifactId>
            <version>2.1.0-beta-1-SNAPSHOT</version>
</dependency>

[DEBUG] impl.ClientToProxyConnection.class | LittleProxy-ClientToProxyWorker-0 | exceptionCaught() | java.lang.IllegalArgumentException: 'isHttps' is already in use
	at io.netty.util.UniqueName.<ini

[2015-06-02 15:33] jekh commented on #144
@heartwilltell - Looking at your dependency, I think I know what the issue is. Update your pom to use 2.1.0-beta-1, i.e. _without_ the -SNAPSHOT version. BMP just released the official beta-1, which should fix this issue.

Since you're using BrowserMob Proxy, if you still experience a problem, can you open an issue on the BMP github?

[2015-06-02 15:51] heartwilltell commented on #144
@jekh thanks a lot. Its work.

[2015-06-02 22:08] ganskef commented on #195
Hi @pinghe, Netty since 4.1 provides a new module netty-handler-proxy netty/netty#1133 which could be a solution for your problem. It enables you to configure a lot of http/socks4/socks5 proxies in a chain with your client: https://github.com/netty/netty/commit/6970661c882dfbe517b8f8da020308afe2845615#diff-8f12906a987d517bdd8de5032875a765R293

I've tried to build a test client with it. Consider to

[2015-06-04 23:16] pinghe commented on #195
Thanks

[2015-06-17 10:57] eamonnfaherty-productmadness commented on #108
+1

[2015-06-17 10:57] eamonnfaherty-productmadness commented on #107
+1

[2015-06-22 11:27] npryce opened #213 "Run proxy on dynamic port"
If you configure the proxy with TCP port 0, there is no way to find out which port was allocated by the OS.  Calling getListenAddress returns the address that was passed to the OS, with the zero port, not the address that was bound by the OS.

Please add an API call to return the actual port bound by the OS.

[2015-06-25 15:53] jekh commented on #213
The JVM will assign a port when the socket is bound, which only happens after LittleProxy is started. After you call start() you can call getListenAddress() and you will receive the bound port.

For examples of this, see LittleProxy's unit tests. All our unit tests use JVM-assigned ports.

[2015-07-01 10:43] rkkoszewski commented on #184
Hello, could somebody figure out some work around for this? I'm trying to make it run on the latest 1.0.0 beta version and the browser keeps spinning and waiting but nothing is happening. Is there any other version of LittleProxy where HTTPS with SSL is working with MITM enabled?
Greetings.

[2015-07-01 15:25] zerkz commented on #184
@rkkoszewski take a look at @ganskef 's https://github.com/ganskef/LittleProxy-mitm . Note that it does NOT support proxy chaining with MITM yet.

[2015-07-03 13:29] Sergei-Rudenkov commented on #94
@jukkahell, could you please provide more information how did you use LittleProxy on Android, may be some code samples. Thanks in advance!

[2015-07-03 14:59] ganskef commented on #184
For clarification: MITM is generally working. You simply have to start the Launcher class, for LittleProxy with the MITM parameter. LittleProxy use a self signed certificate which causes warnings (or failures) in the browser. My extension creates a root certificate to import in the browser and generate server certificates on the fly, signed with it.

This thread is a little bit mixed up. There are

[2015-07-03 15:18] Sergei-Rudenkov opened #214 "Is LittleProxy competable with Android?"
Dear LittleProxy team,
I just wonder: would LittleProxy be working fine within Android application?

I tried to create http Proxy server using LittleProxy:

compile group: 'org.littleshoot', name: 'littleproxy', version: '1.0.0-beta7'

public class MyHttpProxyServer {
    org.littleshoot.proxy.HttpProxyServer server;
    public MyHttpProxyServer(){
        server = DefaultHttpProxyServer.bootstrap

[2015-07-03 16:14] ganskef commented on #214
Hi, I have it in my daily use with Android, but I use the Eclipse and
Maven to do the build, no Gradle. It's not in production state :-) , so
it's not public this time (but working for years). I use a more recent
version of Netty 4.1.0.Beta5 which claims to support Android, but some
older versions works too. Some Netty versions (4.1.0.Beta3,
4.0.25.Final) failed with my requirements. It's NIO, ver

[2015-07-03 16:47] rkkoszewski commented on #184
Thanks a lot @zerkz. Just what I was looking for!! Its working just perfectly.

@ganskef direct connection works but I need to inject some JavaScript in every page, and the infinite spinning issue was just happening on SSL connections. But with the build that @zerkz suggested injection works just perfectly on SSL and non SSL pages. Thanks!

[2015-07-03 21:03] jukkahell commented on #94
I created a background service that is running all the time. onStartCommand method initiates a HttpProxyServer as follows:
[code]

Then you need to configure your device to use proxy at localhost:SERVERPORT. And as said, I needed to do few minor fixes in the littleproxy's code since it didn't compile with Android, but the error messages were good as were the fixes. I added LittleProxy as a module

[2015-07-07 18:38] SonOfLysander opened #216 "Is LittleProxy (1.0.0-beta8) Java 8 compatible?"
We recently moved a project that utilized LittleProxy to Java 8 and started seeing a number of `Connection reset by peer` exceptions. The project has a number of moving parts so there several things that may have caused this, but we thought we'd start checking in the most obvious place first. Has anyone who has used 1.0.0-beta8 with Java 8 also had this issue?

[code]

[2015-07-08 02:10] jekh commented on #216
i can't speak to 1.0.0-beta8, but I do know that the latest code in master does run well under Java 8. I'd recommend building the latest and trying with that.

[2015-07-08 04:44] henryzx commented on #214
Exclude only barchart-udt-bundle will solve your problem, because the jar contains native libraries but not include arm build. I suggest author should provide an example for android too.

[2015-07-13 03:31] SonOfLysander commented on #216
Where can we see the most recent nexus builds? We use maven for dependency management

[2015-07-13 09:25] ganskef commented on #214
I like to have log files on my device. Therefore I use logback-android-classic and exclude log4j and slf4j-log4j12 used by my applications core module. A LogConfiguration class enables a LogcatAppender and a FileAppender in my Android app.

I use BouncyCastle and sqlite4java in my application, but BouncyCastle won't work for me with Android. Since using sqlite4java, I have to exclude bc to build t

[2015-07-14 20:24] ganskef commented on #85
Certificate impersonation is done with ganskef/LittleProxy-mitm (#174). It was intended to be a part of LittleProxy, but it should be moved into a separate module (#173).

Connecting SNI enabled sites is working from Java 6 onwards by creating an SSLEngine with peer information (#207 #210), but this introduces a problem with misconfigured servers (ganskef/LittleProxy-mitm#2).

A security concern i

[2015-07-14 21:06] ganskef commented on #173
What's the suggested module structure? The task needs to move directories which are loosing its history, but the single files seems to hold it.

LittleProxy/littleproxy => littleproxy (moved src and pom.xml)
LittleProxy/littleproxy-mitm => littleproxy-mitm
LittleProxy/littleproxy-android => littleproxy-android (for example)
...
LittleProxy => littleproxy-parent (will be built at last)

The depende

[2015-07-16 23:15] jekh commented on #216
There isn't a 1.1 beta on nexus currently. The only solution at the moment is to build the 1.1.0-beta-1-SNAPSHOT dependency yourself. We're getting closer to being ready for a maven central release, but there isn't a target date yet.

[2015-07-17 00:44] jekh commented on #213
Hi @npryce - did this answer your question? Can this issue be closed now?

[2015-07-17 02:07] jekh commented on #173
We did a similar refactoring for browsermob-proxy when we added littleproxy support a few months back. The basic structure we went with was:
- core module
- optional module
- distributable module (creates the distributable jar file with scripts for multiple platforms)

The structure worked pretty well for us. It did mangle the git history a bit, but most tools can track the renames and display the

[2015-07-17 02:10] #61 closed

[2015-07-17 02:10] #121 closed

[2015-07-17 02:10] #112 closed

[2015-07-17 02:11] #147 closed

[2015-07-17 02:11] #177 closed

[2015-07-17 02:11] #64 closed

[2015-07-17 02:11] #165 closed

[2015-07-17 02:11] #57 closed

[2015-07-17 02:12] #138 closed

[2015-07-17 02:13] jekh commented on #203
Since the PR is merged and this issue appears to be solved, I'll close this issue!

[2015-07-17 02:13] #203 closed

[2015-07-17 11:22] ganskef commented on #173
Hi Jason,

I've got a similar structure in my application, and I've started a
branch with LittleProxy always, and I've built it successfully. Will
push it, to have a base. You are write enabled in my repositories on GitHub.

An Android module would be nice as an example, and it would create the
opportunity for automated tests with this platforms runtime, I think.
But this isn't the first step, of

[2015-07-17 15:07] ganskef commented on #173
@jekh I ran in trouble applying your upstream changes to the modularized branch. Such a refactoring has to be planned, I think. How has you done this in BMP?

[2015-07-17 20:05] adamfisk commented on #203
Thanks for this flurry of maintenance @jekh!

[2015-07-18 14:06] ganskef commented on #196
I've removed it from the README, since I think this link is permanently dead (#219).

[2015-07-28 21:23] ganskef opened #222 "Answer redirect by filter for direct proxy requests trick is broken"
I've built a caching proxy server, which provides a Web UI for its contents or browsing history and for full text search results. This is implemented with filters which answers responses with content, errors or with a 302 Found state to redirect. Redirects are neccessary for the modify/redirect [pattern](https://en.wikipedia.org/wiki/Post/Redirect/Get). It works fine with LittleProxy up to 78e41b2

[2015-07-29 07:54] jekh commented on #222
One of the changes in #204 is that connections won't be automatically closed after short-circuit responses. Generally this is a good thing, but if you were relying on the automatic connection closure to indicate "end-of-message", it may cause your responses to "hang". You can force LP to close the connection by adding the "Connection: close" header to your short-circuit responses. Alternately, you

[2015-07-29 20:45] ganskef commented on #222
Thank you, the redirect works well with:
[code]
A Content-Length is working only, if the message has a content, since a length of 0 hasn't worked for me.

[2015-07-29 20:45] #222 closed

[2015-07-30 08:44] jekh commented on #222
Glad it's working for you. Content-Length of 0 should work, though (assuming there is no entity body on your message). What happened when you set Content-Length to 0?

[2015-07-30 16:51] ganskef commented on #222
I've tried a redirect by a DefaultHttpResponse (no Full) without a content, without Connection: close header, but with Content-Length: 0 header. -> This won't fix the blocking behavior.

[2015-07-31 14:53] jekh commented on #222
Did you try with a DefaultFullHttpResponse with a Content-Length: 0 header? It _shouldn't_ make a difference if there is no entity content, but I'd like to investigate further. Did you have aggregation turned on (i.e. non-zero buffer values in the HttpFiltersSourceAdapter)?

The test you linked to earlier in this issue seems to be gone -- do you have a test or a snippet of code that you know hangs

[2015-07-31 15:46] jekh commented on #189
Unit tests were enabled by PR #221, so I'll close this issue.

[2015-07-31 15:46] #189 closed

[2015-07-31 17:03] ganskef commented on #222
Hi Jason,

use this Test
https://github.com/ganskef/LittleProxy/blob/proxy_web_ui_test/src/test/java/org/littleshoot/proxy/ProxyWebUiTest.java
  It's been renamed, see PR #224

Aggregation was off in the test, but it's always on in my proxy, where
I've tried it manually. Chunked should be set there, but it won't work
... means blocking occurs with redirect.

Answering content works well. So closin

[2015-08-01 01:13] mongakshay opened #225 "Exception: Caught exception on proxy -> web connection"
I am having the following issue, I am trying to access the corporate website in my company network, but I am getting this error.
Even though I can find any issue and still its giving me illegal argument
                                                                       --- ERROR ---

21969 [LittleProxy-ProxyToServerWorker-2] WARN org.littleshoot.proxy.impl.ProxyToServerConnection - (AWAITING_I

[2015-08-01 09:10] ganskef commented on #225
Hi Akshay,
the cookie name "HttpOnly, ROUTEID" given to Netty contains a comma. The name could be wrong set by the website. Please, try to check the contents (cookies) of the website with a web developer tool.
@jekh  it could be wrong parsed by BMProxy before. I haven't checked this yet, but anyway, this exception should be handled in BrowserMobHttpFilterChain#serverToProxyResponse.

@mongakshay I

[2015-08-01 14:09] bitified opened #226 "Customize LittleProxy for $150"
Sorry for posting this in the issue section but I'm looking for a experienced guy/girl that want to do a little job for me. Didn't find a better place to post it.

I'm in need of a private proxy server that redirects requests to a number of external proxies.
LittleProxy seems to be a good project to build it up on.

The requirements looks like this:
We have a bunch of external proxies that we want

[2015-08-01 19:37] ganskef commented on #226
This sounds pretty easy to realize with LittleProxy, but it's more a
question of time than money. What's your deadline?

A little story about money: A few years ago, I've signed a bill with
VAT, some years later I've moved to a new district with a new tax
office. Then I had to render of Einkommenssteuererklärung for 6! years.
I've received a lot of money with it, but it was hard. I hate this
stuff

[2015-08-01 19:51] jekh opened #229 "Logistics of HTTP/2 and Netty 4.1"
I'm opening this issue so we can start to discuss the logistics of supporting development of HTTP/2 and Netty 4.1 in LittleProxy. This doesn't address the actual code and design changes needed to support HTTP/2; please feel free to open another issue if you've done some investigation and/or have insights into that.

For the foreseeable future, I would advocate for LittleProxy's active development

[2015-08-01 19:55] jekh commented on #225
@mongakshay - @ganskef is correct, it looks like you're using BrowserMob Proxy. Can you open an issue for this on the BMP github page? Be sure to include details of the version you're using and steps to reproduce.

Since this is BMP-specific, I'm going to close this issue here.

[2015-08-01 19:55] #225 closed

[2015-08-01 20:09] jekh commented on #226
@bitified - this sounds like a very interesting use of LittleProxy, kind of like a load balancer. It's certainly possible. Have you thought about posting this on a freelancing site like guru.com or gun.io? A posting to the LittleProxy google group would probably also be fine. Github is for issues and changes related to the code, so I'll close this issue here.

I hope you find a developer! It's alw

[2015-08-01 20:09] #226 closed

[2015-08-01 20:09] jekh commented on #213
I'll go ahead and close this issue, since it was answered. Feel free to reply if you have any more questions.

[2015-08-01 20:09] #213 closed

[2015-08-01 20:24] ganskef commented on #229
Your first idea sounds like working with a fork and regular merge upstream tracking. This should work at the beginning, but Netty 4.1 uses a new API. A lot of methods are deprecated. Working with this should cause a lot of conflicts while syncing with master. I think, this is the reason for cherry picking.

[2015-08-01 21:30] bitified commented on #226
Thanks for your replies.
A freelancing site is probably the way to go regarding the payment procedures @ganskef.

Thanks for the tip @jekh about the Google group. I'll try that if I don't find help here.

 I rather find a contractor who have worked with LittleProxy before and find it hard on those generic freelancing sites. However I do have account on odesk and can make the transaction there.

Pl

[2015-08-01 21:37] bitified commented on #226
And yes @ganskef, spend for Wikipedia sounds like it's doable.

[2015-08-02 11:49] ganskef commented on #229
Branch names could be netty-4.1, netty-4.0, netty-3.10? Or netty-4.1, netty-4, netty-3?

see https://github.com/ganskef/LittleProxy/tree/netty-3.10

[2015-08-02 15:55] ganskef opened #231 "Travis-CI fails without a notification mail"
I break the build in my last PRs with Java 8 without a notification mail from Travis-CI. I've to install Java 8 first... Update: After triggering Travis-CI again it's been built successfully.

It would be nice to get a mail, if it's possible to configure.

[2015-08-02 17:29] ganskef commented on #229
Note that MockServer introduces Netty 4.0.29.Final in the test scope, while we use 4.0.23.Final in compile scope, last is 4.0.30.Final as time of writing: http://netty.io/news/

[2015-08-02 20:16] jekh commented on #231
You should already receive travis-ci notifications. Travis-ci's default notification settings are explained [here](http://docs.travis-ci.com/user/notifications/):

- a build was just broken or still is broken
- a previously broken build was just fixed

Usually I do receive notifications for my LP PR builds, so it's possible travis-ci was down, or the email was blocked/spam filtered.

[2015-08-03 19:43] ganskef commented on #231
I receive mails from Travis-CI for ganskef/LittleProxy-parent, too. Now I had a look in my profile at Travis-CI. The repository ganskef/LittleProxy wasn't enabled there. I'm closing the issue now.

[2015-08-03 19:43] #231 closed

[2015-08-10 19:42] #205 closed

[2015-08-15 18:28] chemicwepn opened #235 "event loop shut down?"
Have anyone seen this exception and what's the cause of it?

2015-08-15 18:28:09,070 [LittleProxy-ClientToProxyWorker-5] io.netty.util.concurrent.DefaultPromise.rejectedExecution ERROR Failed to submit a listener notification task. Event loop shut down?
java.util.concurrent.RejectedExecutionException: event executor terminated
        at io.netty.util.concurrent.SingleThreadEventExecutor.reject(Si

[2015-08-16 11:15] ganskef commented on #235
I think your setup quits (for timeout) while trying to establish a ssl enabled connection. What is your setup? What you've expected?

Consider somebody sends you an issue like this. What would be your answer?

[2015-08-16 18:56] chemicwepn commented on #235
Sorry about that, still new to the open source community. I am using Browser Mob Proxy which uses lightproxy underneath. Here is the code:
try{
      proxy = new BrowserMobProxyServer();
      proxy.setConnectTimeout(20, TimeUnit.SECONDS);
      proxy.setIdleConnectionTimeout(20, TimeUnit.SECONDS);
      proxy.setRequestTimeout(20, TimeUnit.SECONDS);

      proxy.start(0);
      Proxy prox = Clien

[2015-08-17 14:55] jekh commented on #235
If you shut down LittleProxy in the middle of a request/response, you will see this exception. Is the exception you're seeing causing any problems? If not, I would ignore it.

[2015-08-20 16:01] adamburleybarclays commented on #160
As of July 18, the readme has now been updated to point to version 1.1.0-beta1-SNAPSHOT. The commit is 4f82eeae7f0413b73c23d865196b3a2bae4ad402. But this version doesn't exist on Maven global. The LittleProxy team should either publish it (preferably as a non-snapshot), or revert this part of the readme to 1.0.0-beta8.

[2015-08-20 19:03] jekh commented on #160
It's not possible to push a snapshot release to Central. If you `mvn clean install` locally, you'll get the snapshot version.

We'll release the next version as soon as we're ready (which is 'very soon'), and of course update the README once that happens. In the meantime, due to the massive changes since the previous beta, we are not encouraging users to use the previous version.

[2015-08-28 14:17] smiklosovic opened #236 "why are there not any releases?"
The last release is from 2014, I do not understand why there are not new releases. I have to build this dependency by myself.

Can anybody explain this?

Thanks

[2015-08-28 14:51] jekh commented on #236
The simple answer is, because people are busy. We're all volunteers with day jobs, families, etc., so there are times when we cannot devote as much energy to LittleProxy as we would like. Especially so in the summer.

Nonetheless, a release will be coming very soon. Continue to be patient.

[2015-08-28 20:52] jekh commented on #236
And just like that, a new version appears :)

[2015-08-28 20:52] #236 closed

[2015-08-28 20:53] jekh commented on #160
It's out now! Enjoy!

[2015-08-28 20:53] #160 closed

[2015-08-28 21:12] myleshorton commented on #236
You're the man @jekh! Well done.

[2015-09-01 01:50] jekh commented on #236
We couldn't have done it without @ganskef, @adamfisk, @oxtoacart, and you too, @myleshorton. Added you to the release notes -- sorry I forgot!

[2015-09-01 01:56] jekh commented on #216
Now that 1.1.0-beta1 is out, can you try it against Java 8, @SonOfLysander? I run under Java 8 on my machine.

[2015-09-07 00:47] jekh commented on #8
Since this issue is so old and most likely not relevant anymore due to the vast amount of code changes, I'll go ahead and close it. Please reopen if you're still experiencing issues.

[2015-09-07 00:47] #8 closed

[2015-09-07 00:49] jekh commented on #39
Hi @myleshorton - I believe compression/decompression now works as expected (I use it all the time), so I'm going to close this issue. Please do reopen if you still see any issues with it.

[2015-09-07 00:49] #39 closed

[2015-09-07 00:51] jekh commented on #19
This issue is nearly 4 years old and most likely is obsolete now that we're using the latest netty code. I'll close the issue, but please reopen if you still see this error.

[2015-09-07 00:51] #19 closed

[2015-09-07 00:53] jekh commented on #110
Since this issue is fixed, I'll go ahead and close it.

[2015-09-07 00:53] #110 closed

[2015-09-07 01:01] jekh commented on #157
@RhyssyhR - there is now an easy way to do this. In your HttpFilters, you can override proxyToClientResponse(HttpResponse) to check for a 502. You can then modify the response object as desired, including modifying the status code, etc.

[2015-09-07 01:04] jekh commented on #178
Since the dnsjava change was merged some time ago, I'll close this issue.

[2015-09-07 01:04] #178 closed

[2015-09-07 01:07] jekh commented on #201
@mathanv - it sounds like you've solved this problem. Should we close this issue?

[2015-09-07 01:08] jekh commented on #196
Since this change has been merged, I'll close this issue.

[2015-09-07 01:08] #196 closed

[2015-09-07 01:09] jekh commented on #235
Since there's been no update on this in a while, I'll close this issue. Please feel free to reopen with more detail if you're still experiencing this problem.

[2015-09-07 01:09] #235 closed

[2015-09-10 21:28] SonOfLysander commented on #216
The new beta release fixed our issue, thanks!

[2015-09-10 21:28] #216 closed

[2015-09-18 12:04] bwzhang2011 commented on #108
+1

[2015-09-18 12:04] bwzhang2011 commented on #107
+1

[2015-09-18 12:05] bwzhang2011 commented on #99
@oxtoacart, does it occur in latest release version ?

[2015-09-18 12:29] bwzhang2011 opened #244 "More document for proxy use cases compared to other proxy solution like nginx."
@jekh,  thanks for LittleProxy brought in and also with its great performance compared with other proxy solution like nginx or squid.  as there're many articles for more configurations like nginx compared to LittleProxy so I dare say more document should be provided towards more use cases.

as proxy server also acts as some load balance responsibilities and dispatch the request according to the ab

[2015-09-19 04:22] wangxi83 commented on #244
tks

[2015-09-20 12:36] bwzhang2011 commented on #244
@jekh, if you have noticed such issue, please leave us some message and know your idea or suggestion.

[2015-09-21 02:12] jekh commented on #244
If you'd like to add documentation about using LittleProxy as a load balancer, that would be fantastic. It's not currently designed for that, but it certainly could be done. A refactoring of ConnectionFlow is on my LP backlog, and I think that would help significantly.

[2015-09-21 04:39] bwzhang2011 commented on #244
@jekh, thanks for your comment and encourage but we should get to know more about littleproxy usecases step by step through help from your team especially for the document. as load balance seems more common in real world, it such could be taken into consideration, it will be much more fantastic. what's more, looking forward to the refactoring of the connectionflow and other issues merged as expect

[2015-09-21 11:53] bwzhang2011 commented on #244
@jekh, I think littleproxy could satisfy our requirements as your advice with Connectionflow.
identifyHostAndPort method of it showed us how to create the current ProxyToServerConnection according to the request. but as I mentioned above, if littleproxy acted as the backend proxy server just proxy the connection from nginx, we should override the logic of identifyHostAndPort method (it should be p

[2015-09-26 23:06] jekh commented on #244
The identifyHostAndPort method is actually a utility method that should be static and is not meant to be overridden. However, it's totally possible to change the host and port you are connecting to by using a filter. You can override org.littleshoot.proxy.HttpFilters#proxyToServerResolutionStarted() and return the InetSocketAddress of the server you wish to connect to, rather than Java's DNS to re

[2015-09-26 23:30] jekh opened #245 "Utilize netty's new ChannelPool in ServerGroup"
As @ganskef recommended in PR #239, utilize the new ChannelPool in netty/netty#3218 when creating a ServerGroup.

[2015-09-27 09:40] bwzhang2011 commented on #244
@jekh, thanks for your advice and sorry for not noticed all the methods defined in HttpFilters and I will test it next week and hope more documents could be provided.

[2015-09-27 15:10] bwzhang2011 commented on #244
@jekh, ProxyToServerConnection between proxy and server based on the hostAndPort derived from httpRequest or HttpFilters#proxyToServerResolutionStarted() for another hostAndPort if needed to be changed and switched. but logic in ClientToProxyConnection, the proxyToServerConnection is compared as global one. so even if  I use some router strategy e.g round-robin to load the address for the connecti

[2015-09-28 02:27] bwzhang2011 commented on #245
nice. as the channelPool has been merged in provided among netty 4.0, 4.1 and master.

[2015-09-28 07:19] bwzhang2011 commented on #244
@jekh, woud you mind sparing some time and take a look at it ? I'm not sure of the proxyToServerConnection could be balanced or just keep one of them to be re-used connection.

[2015-09-29 10:37] bwzhang2011 commented on #107
@oxtoacart, @jekh, any update with such issue ? it would be a nice feature if implemented well.

[2015-09-29 10:38] bwzhang2011 commented on #99
@oxtoacart, any update with such issue ?

[2015-09-30 00:38] jekh commented on #99
Since there hasn't been an update in nearly 2 years, I would guess not. Perhaps you could provide some help by giving us information on how you've observed the issue and what steps we can take to reproduce it.

Ox isn't an active maintainer at the moment, but there are folks active in the community and we'll look into the issue if you can give us some leads.

[2015-09-30 00:40] jekh commented on #107
PRs are always welcome! I would be happy to review your implementation.

[2015-09-30 00:48] jekh commented on #244
You're right that LP will reuse ProxyToServerConnections for non-HTTPS requests. There is no way around that limitation currently. I'd like to make that behavior more configurable as part of a ConnectionFlow refactoring, but it's not my personal top priority at the moment. PRs are always welcome if you'd like to tackle it, and I'd be happy to review and give feedback.

[2015-10-01 06:56] bwzhang2011 commented on #244
@jekh, thanks for your feed back and introduce more detail around such issue. for my side, maybe LP lacks of some obvious routerPolicy or throtting control for proxyToServerConnections (from nginx configuration, we could always notice the policy like ip hash). I don't know how to tackle it but I notice the way towards it. maybe https://github.com/jrahman/sandshrew  could leave us more idea about t

[2015-10-06 12:35] houdejun214 opened #248 "How can use LittleProxy as a reverse proxy server?"
Is possible we can use LittleProxy as a reverse proxy server to route the request to our backend servers (maybe a list)

[2015-10-06 14:59] greyhard commented on #248
You have already tried Nginx?

2015-10-06 15:35 GMT+03:00 hou dejun <notifications@github.com>:

--
С уважением.
Ильиных Денис
Программист
Компания "GT-Shop.ru"
Телефон: +7(963) 995-7616

[2015-10-06 15:57] houdejun214 commented on #248
Nginx is ok for reverse proxy, but I want add some dynamic feature into the proxy server, such as dynamic change the backends list, so I want write it myself.

[2015-10-06 18:37] bwzhang2011 commented on #244
@jekh, any update with such issue ? would you mind leaving us more message on how to tack with LP for RouterPolicy implementation with current LP design. (though it seems not to be the top priority but need your help for the suggestion)

[2015-10-07 20:32] kenbreeman commented on #248
Being able to set ```mitming = true``` on ClientToProxyConnection would have this effect.

[2015-10-08 06:36] bwzhang2011 commented on #248
@houdejun214, I have the same requirements as you wished. please spare some time and  take a look at https://github.com/adamfisk/LittleProxy/issues/244. as @jekh pointed out, L.P will always try to re-use ProxyToServerConnection so we should modify Client2ProxyConnection source code but it's better if @jekh  (or some else) could take it into consideration for it's true that L.P could acted as the

[2015-10-08 06:38] bwzhang2011 commented on #248
@kenbreeman, I don't quite understand what you commented above.  I wonder mitming=true could do such side effect, please let me know if you could introduce more about that.

[2015-10-13 17:24] kenbreeman commented on #248
https://github.com/adamfisk/LittleProxy/pull/249
@bwzhang2011

[2015-10-14 17:32] bwzhang2011 commented on #248
@kenbreeman, thanks for feed back. and I will take a look at and try it as your suggestion.

[2015-10-15 07:32] dongxurr123 opened #250 "ClientToProxyConnection.java line:969, ouput base64 authencation in INFO level to log when use ProxyAuthenticator ."
It can be prevent by modify our log4j config file, but strongly recommended to change the log level to debug.

[2015-10-15 14:57] houdejun214 commented on #248
@kenbreeman  The change in your PR only support to resolve the target address by host,  It will be better if can resolve the target host base on the request info ( parameter, path...)

[2015-10-15 14:58] houdejun214 commented on #248
@bwzhang2011 I rewrite the logic with my requirement to implements a reverse proxy server.

[2015-10-25 13:03] bwzhang2011 commented on #248
@houdejun214,  woud you mind sharing your idea that how to implement such to satisfy your reverse requirements ? by the way, from Little proxy, I did the logic in chainProxyManager that's to say that once the special request found, it would be chained to the direct proxy. but I don't how your way,so any contribution is much welcomed and appreciated of.

[2015-10-27 10:13] bwzhang2011 commented on #229
@jekh, any update with such issue ? how could littleproxy handle http2

[2015-10-30 09:50] MediumOne commented on #87
Raised a PR for this - https://github.com/adamfisk/LittleProxy/pull/251

[2015-10-30 18:04] MediumOne opened #252 "Consider changing default value of withAuthenticateSslClients to false"
I wanted to run a littleproxy instance with SSL enabled. I had used the withSslEngineSource API in the bootstrap for this. When I used my client to talk to this proxy, I got an SSL error (javax.net.ssl.SSLHandshakeException: null cert chain). It was not obvious that SSL client authentication was enabled and that the proxy was expecting the client certificates. It took me sometime to figure this ou

[2015-12-04 14:48] PatrickHuetter opened #253 "Using littleProxy to tunnel traffic over another proxy-server possible?"
I'm using selenium to crawl some websites. I also use different http-proxies for that. Some of them need authentication (credentials). This worked fine with phantomjs. Now i want to use google chrome with chromedriver but chrome doesn't support proxies with credentials (via the chrome.switches configuration).

After some research i thought i could use littleProxy to create a local proxy without cr

[2015-12-04 17:38] PatrickHuetter commented on #253
I already got some parts working with littleProxy. I got a local proxy which tunnels the traffic over a public proxy without credentials. Using public proxies with credentials doesn't work. As you can see i integrated the "filterRequest"-method to provider Proxy-Authorization header and i think that might be not 100% correct. How do i authenticate at http-proxies correctly?

This is my code:

[cod

[2015-12-06 14:52] MediumOne commented on #253
`filterRequest` on `ChainProxyManager` is the right API for your use case. You should be using `HttpRequest` instead of `FullHttpRequest` in the condition in `filterRequest` -

[code]

[2015-12-07 12:02] PatrickHuetter commented on #253
Thank you very much, i got it working with your tip! One last question: Does HttpProxyServer get garbage collected if there are no references on this object anymore? (All references get nulled)

[2015-12-07 14:59] PatrickHuetter opened #254 "How to abort or block requests for specific url patterns or file-endings?"
I'm using littleProxy in chained-proxy mode as transparent proxy which tunnels traffic through another proxy.
Now i want to block some specific resources for the client which is using the littleProxy. For example: I don't want to allow requests to resources like *.css, *.png, *.jpeg, *.jpg, *.webm files.

Where should i implement this? I already did some request filtering within my BaseChainedProx

[2015-12-09 14:15] MediumOne commented on #254
You can use the `clientToProxyRequest` callback in `HttpFilters` to selectively handle URLs. This API provides a way to return a custom short-circuit response. Note that you can only get the full URL for "http://" URLs. For "https://" URLs, the `clientToProxyRequest` callback will intercept only the `CONNECT` request, which will not return the full URL. You can check this example for reference - h

[2015-12-09 14:35] MediumOne commented on #253
I am not sure about that, but I *think* it will not be because we are not closing the server socket. If you are looking for the right way to shutdown the proxy server, you need to call `HttpProxyServer.stop()` or `HttpProxyServer.abort()`.

Also, if your queries are answered, can you close the issue?

[2015-12-09 15:43] PatrickHuetter commented on #253
Thank you very much. I implemented some automated closing of the proxyservers in my application.

[2015-12-09 15:43] #253 closed

[2015-12-10 11:08] PatrickHuetter commented on #254
Thank you very much @MediumOne . I think i will integrate it like in your code-example. Am i able to get the domain of an https request? So i could filter at least some CDNs which provide advertising scripts and many images.

[2015-12-10 14:20] MediumOne commented on #254
Yes, the CONNECT request will contain the domain in the URL and in the "Host" header.

[2015-12-10 14:51] PatrickHuetter commented on #254
Thank you. I got everything working now. :+1:

[2015-12-10 14:51] #254 closed

[2015-12-10 15:12] PatrickHuetter opened #255 "Some exceptions with littleProxy instances - What do they mean?"
I'm using littleProxy to tunnel traffic through another proxy. So i'm starting a local proxy without credentials which tunnels the request to another public proxy. This works fine mostly.

Sometimes i get the following exceptions. What do they mean?
I'm using Debian Linux (Jessie) with kernel 4.2.6 (before 3.16). The problems occur with both kernels.

First exception:

[code]

Second exception (ha

[2015-12-10 15:44] PatrickHuetter commented on #244
+1 More documentation would be fantastic for littleProxy. I think many more people would use it than.

[2015-12-10 15:50] MediumOne commented on #255
Can you please mention the littleproxy version used? Can you also share how you are setting up the proxy? If possible, also share the URL for which the first exception occurs.

[2015-12-10 16:49] PatrickHuetter commented on #255
I'm using littleproxy 1.1.0-beta1 from maven repository.
This is the code i'm using to start the http-proxy. This methods are in my object "WebProxy" which contains the publics proxy connection data and credentials.

[code]

[2015-12-11 18:55] PatrickHuetter commented on #255
@MediumOne I would show you my screen via skype or something else so that you could see it. I think it may also be caused by to many parallel littleproxy instances?

[2015-12-13 03:59] burtonator opened #256 "Support Async DNS resolution"
Creating a tracking issue to support async DNS via Netty 4.1.

http://netty.io/4.1/api/io/netty/resolver/dns/DnsNameResolver.html

Right now the API is synchronous and requires providing a new HostResolver. The problem here is that this impacts overall throughput if the DNS has to block for responses / queries to other DNS servers (and still isn't free otherwise).

The new DNS resolver in 4.1 shou

[2015-12-13 16:30] Wolfgang-Winter opened #257 "LittleProxy changes URI character cases"
It seems LittleProxy changes case of the domain in URIs to lower case.

in HttpFilters.clientToProxyRequest(HttpObject httpObject):
FullHttpRequest.getUri() --> http://www.notexistingurl/LittleProxyTest
while
FullHttpRequest.headers().get("Host") --> www.notExistingURL

I don't know if this is a bug but it is confusing. I have equals() logic on the URI in my filter which is not working as expected

[2015-12-14 04:03] MediumOne commented on #257
The domain in the URI is case-insensitive. From [RFC 3986] (https://tools.ietf.org/html/rfc3986#section-3.2.2) -

However the path is case-sensitive. You should change your logic on domain part of the URI comparison to `equalsIgnoreCase()`.

Also, the HTTP field values may or may not be case sensitive (From this [SO post](http://stackoverflow.com/a/5259048/255872)). Perhaps that's why the 'Host' h

[2015-12-14 13:59] MediumOne commented on #255
It looks like the NPE is raised because of `currentHttpRequest` being null after `ProxyToServerConnection.identifyCurrentRequest()`. The comment in code says -

        // I'm a little unclear as to when the request queue would
        // ever actually be empty, but it is from time to time in practice.
        // We've seen this particularly when behind proxies that govern
        // access contro

[2015-12-17 03:28] DMoneigh opened #258 "Obtaining the path of a HTTP Request?"
Hello,

Is it possible to obtain the path of a HTTP Request when filtering sources?

Thank you,
DMoneigh

[2015-12-17 03:34] #258 closed

[2015-12-17 03:38] DMoneigh opened #259 "Getting full URL from a HttpRequest?"
Is it possible to get the full URL from a HttpRequest?

[2015-12-17 08:44] MediumOne commented on #259
You can use httpRequest.getUri() to get the full URI for "http://" requests. For "https://" (CONNECT) requests, there is no way to get the full URL unless you run the littleproxy as SSL MITM.

[2015-12-18 00:17] DMoneigh commented on #259
@MediumOne I am trying to also return the path of the request. What methods will return a full URL (path included)? e.g. http://www.foo.com/somepage.php

[2015-12-18 07:46] MediumOne commented on #259
httpRequest.getUri() will return the full URL (with the path included).

However, this will only work for "http://" URLs. This method will not return the full URL for "https://" URLs (for example : https://www.foo.com/somepage.php). In fact, none of the APIs will return the full URL for "https://" URLs.

If httpRequest.getUri() does not work for "http://" URLs, you can share the code.

[2015-12-19 16:47] ganskef commented on #244
@PatrickHuetter please create a PR with a draw up for discussion. It's not so easy. More documentation must not be better. I've removed some outdated stuff. Please consider:
* The README should be a quick intro. It has to be short, but you could link pages or such issues.
* LP is a framework to build applications. Therefore, you have to know the interfaces, I think.
* LP should be modularized #173

[2015-12-20 10:16] jekh commented on #259
@MediumOne is correct that httpRequest.getUri() will not work for HTTPS. HTTPS requests generally don't include the hostname, because they always use one persistent (encrypted) connection to the server, so there's no need for it.

In BrowserMob Proxy I had to implement an elaborate workaround using filters to capture the hostname on CONNECTs and associate it with the Netty channel. It's not elegan

[2015-12-21 07:40] ganskef commented on #259
It's the intention of HTTPS to hide the URL in the encrypted connection.
So, you *must* use MITM, normaly a bad thing. :-) The way to do is
documented at the ganskef/LittleProxy-mitm README.md.

Am 20.12.2015 um 11:16 schrieb Jason Hoetger:

[2015-12-22 14:30] ganskef commented on #250
@dongxurr123 sorry, I don't understand the intention of this issue. This is line 969 at the moment:
https://github.com/adamfisk/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/impl/ClientToProxyConnection.java#L969
[code]
Please, give me some more informations.

[2015-12-22 16:25] ganskef commented on #248
As I understand, the reverse proxy use cases could be implemented and plugged in via the ChainedProxyManager interface. I respect see different requirements. I think the way to do is a separate module for each, not trying to integrate in the core. One example is the https://github.com/spinn3r/noxy project, created from @kenbreeman . An other possibly solution is refactoring LittleProxy for modules

[2015-12-22 17:56] DMoneigh commented on #259
Thank you all!

[2015-12-22 17:56] #259 closed

[2015-12-28 01:13] jekh commented on #257
Yes, @MediumOne is right, the domain is case-insensitive. And in fact it's Netty, not LittleProxy, that's normalizing the case.

@Wolfgang-Winter: @MediumOne's advice to use `.equalsIgnoreCase()` should solve your problem, so I'll go ahead and close this issue.

[2015-12-28 01:13] #257 closed

[2015-12-28 03:49] jekh commented on #202
I'll go ahead and close this issue now that MITM+Chained Proxy is supported.

[2015-12-28 03:49] #202 closed

[2016-01-03 06:23] franz-see opened #263 "How do you add/modify http post parameters?"
I am trying to figure out how to add/modify post parameters in the HttpFiltersSource but I could not figure it out. - for example, I want to add a post parameter to an outgoing request as long as it matches a certain condition. Is this possible? If yes, how do I do this?

Thanks

[2016-01-05 04:24] MediumOne commented on #263
This can be achieved with this HttpFiltersSource -

[code]

`getMaximumRequestBufferSizeInBytes()` is overridden in order to aggregate chunks. This will cause `FullHttpRequest` to be sent to `proxyToServerRequest`. Then content can be modified based on conditions.

This works, however I am not sure if this is the most efficient way to replace content. There is a discussion on a netty issue (https:

[2016-01-05 07:27] jekh commented on #252
I'd be kind of curious to hear from people who actually use this feature (I haven't). But documentation update + change to not authenticate by default seems entirely reasonable to me.

[2016-01-05 07:37] jekh commented on #263
@franz-see - in addition to echoing @MediumOne's thoroughly helpful answer, I'll also put in a plug for BrowserMob Proxy, which uses LittleProxy and abstracts a few of the more cumbersome tasks like request/response manipulation. The BMP readme actually contains a section on [HTTP request manipulation](https://github.com/lightbody/browsermob-proxy#http-request-manipulation). If you're using Java 8

[2016-01-06 12:37] PatrickHuetter commented on #255
Is it possible that the currentHttpRequest is null if a foreign website doesn't respond because of some firewall rules?

I can't confirm that the issue occurs with one littleproxy instance because i can't test it at this time, but i'll investigate for that.

I'm also confused that these threads run in background since the little-proxy instance already got closed (without exception).
![bildschirmfo

[2016-01-06 15:16] MediumOne opened #265 "HTTPS requests fail when chainedproxy is enabled along with filters where chunk aggregation is enabled"
This has been fixed as part of the MITM+ChainedProxy changes. So this issue is not present in master now. This is essentially a tracking issue to add proper unit tests for this case.

Issue -

HTTPS requests fail when a chainedproxy is used along with filters where chunk aggregation is used. I have come up with [a quick and dirty test case](https://github.com/adamfisk/LittleProxy/compare/master...

[2016-01-06 15:23] MediumOne commented on #255
@PatrickHuetter I have been investigating another bug caused by `currentHttpRequest` being null. It happens for HTTPS requests when a chained proxy is enabled along with filters where chunk aggregation is enabled (see #265). This bug is not present in current master.

You use a chained proxy in your case, but you are not using chunk aggregation. Still, can you please check on current master?

Also

[2016-01-08 06:07] franz-see commented on #263
Thanks @MediumOne , @jekh ! :D

[2016-01-09 17:43] alexec opened #266 "withListenOnAllAddresses not working, not supported -> should throw error?"
This method does not do anything. Rather that being deprecated, it is unsupported and should therefore throw `UnsupportedOperationException`.

[2016-01-09 18:35] jekh commented on #266
The warning that is logged when calling withListenOnAllAddresses pretty much sums it up:

The javadoc for the interface method also covers it pretty thoroughly. The operation isn't unsupported, it's just not implemented the same way it used to be implemented, and rather than break people's applications with an UnsupportedOperationException, we've chosen to log a warning to allow people to adjust.

[2016-01-12 14:44] PatrickHuetter commented on #255
The code where i bootstrap my proxies is already in this comment https://github.com/adamfisk/LittleProxy/issues/255#issuecomment-163684650 . There I'm using .withTransparent(true).

My BaseChainedProxy class:
[code]

[2016-01-13 20:24] ruggy commented on #184
I'd like to ask: what would a fully functional MITM proxy consist of, which would allow us to intercept and inspect HttpObjects?

My basic understanding is mostly based on what @ganskef has stated: LittleProxy gives us the tools to implement our own extension of the MITMManager to "customize your certificate generation as needed".

What customization is needed? What more do we need besides A) call

[2016-01-13 22:48] ganskef commented on #184
Hi Christian,

yes, it's possible to build a fully functional MITM application on top
of LittleProxy. You have the choice:

   https://github.com/ganskef/LittleProxy-mitm

   https://github.com/lightbody/browsermob-proxy/tree/master/mitm

MITM by @jekh https://github.com/lightbody/browsermob-proxy/pull/347 is
reimplemented December last year. It's released in Maven. It supports
LittleProxy and the

[2016-01-14 20:25] ruggy commented on #184
Thank you very much Frank for taking the time to answer me.

I must confess that I still don't know what I'm doing - I don't know where certificates (such as the .jks and .cert files created by my instance of LittleProxy) need to go, and right now I'm experimenting with [JBrowserDriver](https://github.com/MachinePublishers/jBrowserDriver) which I have running but which is complaining that it's get

[2016-01-14 20:34] MediumOne commented on #255
Hi Patrick,

I set up a littleproxy instance with the same bootstrap and filter configurations and I was unable to replicate the NPE on both 1.1.0-beta1 and on master.

From the logs you shared, I could see that we do get a response. Even if we didn't get a response, the request should have been saved.

Can you share more debug logs when this exception occurs? You can mask any username/password in

[2016-01-19 08:37] MediumOne commented on #252
Let me add a post on the littleproxy Google group asking for any comments on this change.

If we decide to change the default value to false, then how do we handle upgrades? Users who have it enabled already by default (without calling withAuthenticateSslClients()) need to now make a change in their applications to enable it. Is this okay? Or do make any guarantees about forward compatibility? :)

[2016-01-29 09:12] nawa opened #268 "Question: req/sec"
I have configured server with ping handler that waits for a 100ms

[code]

after testing with `wrk` I see next results on my 4-core processor

[code]

As you see I have 80 req/sec that correspond to `4(cores)*2*(1/0.1s))` Also latency is about 600 ms instead of ~100-200ms

Is it possible to increase RPS and process long requests somehow better?

[2016-02-14 19:17] MediumOne opened #271 "ClientToProxyConnection.copy does not copy headers"
[ClientToProxyConnection.copy](https://github.com/adamfisk/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/impl/ClientToProxyConnection.java#L1015-L1024) does not copy headers. This causes the [originalRequest](https://github.com/adamfisk/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/HttpFiltersSource.java#L20) in the HttpFiltersSource not to contain headers.

[2016-02-24 02:38] dongxurr123 commented on #250
`try {
            String decodedString = new String(decodedValue, "UTF-8");
            String userName = StringUtils.substringBefore(decodedString,
                    ":");
            String password = StringUtils.substringAfter(decodedString,
                    ":");
            if (!authenticator.authenticate(userName,
                    password)) {
                writeAuthenticationRequ

[2016-02-24 07:22] MediumOne commented on #250
@dongxurr123 I agree too. This line and the previous log statement ("Got proxy authorization!") should be changed to debug level. Will raise a PR for this. Thanks!

[2016-02-25 01:31] bwzhang2011 commented on #248
@ganskef, any update with such issue ?  I think it's better for refactoring littleproxy for modules support for reverse proxy.

[2016-03-01 12:17] fuchun opened #273 "how to get http response body?"
@Override
public HttpObject responsePre(HttpObject httpObject) {
    return super.responsePre(httpObject);
}

after debug I can`t find any filed like response body. how can I get html response body? thanks

[2016-03-02 09:13] MediumOne opened #274 "Consider upgrading netty version to 4.0.34.Final"
Upgrading to Netty 4.0.34.Final fixes two netty bugs (that I know of) that impacts littleproxy users -

1) Fix for https:// requests failing on Android 5.0 - https://github.com/netty/netty/issues/4718 - Fixed in 4.0.34.Final
2) Fix for netty throwing an unexpected TooLongFrameException when a large HTTP header is used (which is still below the configured maxHeaderSize in HttpRequestDecoder/HttpRes

[2016-03-02 20:52] dparis opened #275 "Deploy v1.1.0-beta2 to maven central?"
Now that #251 has been merged into master, what's the recommended way to make use of the new build? Is there any chance the 1.1.0-beta2 build could be cut and deployed to maven? It would greatly simplify my app deployment to be able to resolve that dependency automatically without having to build and include the JAR locally.

Thanks!

[2016-03-03 02:09] MediumOne commented on #275
@dparis Thanks for bringing this up. We can request for a release.

@jekh @ganskef - Any plans of releasing 1.1.0-beta2 soon? This has support for MITM + Chained Proxy. Also, if you can upgrade netty version to 4.0.34.Final (see issue #274) for this release, it would be great.

[2016-03-04 19:09] maxcellent opened #276 "Zombie client connections with SSL proxy server?"
LittleProxy version: 1.1.0-beta1

We are running a SSL proxy and tracking client connection with ActivityTracker. Here are some observations from our logs:

1. ActivityTracker#clientConnected is invoked before ActivityTracker#clientSSLHandshakeSucceeded, which makes sense because we need a TCP connection established before SSL handshake.

1. some times there are exact 10 seconds between ActivityTr

[2016-03-05 09:25] ganskef commented on #276
Hi @maxcellent, thank you very much for your observations.

I'm using LittleProxy with a MitmManager and I think I've seen volatile connection problems too, I couldn't dig into. I use LittleProxy based on version: 1.1.0-beta2-SNAPSHOT. It's difficult to test a released version since I depend on modifications in #230. Using an ActivityTracker is a great idea.

I'm happy to test your suggested modif

[2016-03-05 13:32] angiarao opened #277 "filterInstance is not falling back to the default no-op filter source when browser refreshes"
Steps to reproduce:
After you get a HttpfilterInstance and you send a short circuit your own response back for url A,
For the next request url B, the same short circuit response is being sent.

I observed that, for the request url B (on same browser tab), the HttpFilters filterInstance was still pointing to the previous HttpFilters filterInstance meant for Url A

Let me know if you need further in

[2016-03-05 15:34] ganskef commented on #274
3) netty/netty#4116 an Android 5.0.x only issue (ups, it's not closed)
4) Fix for netty/netty#3905 Out Of Memory with SSL on Android devices - 4.0.31.Final

@jekh I would like to see a recent Netty version in LittleProxy too. Of course I can define the dependencies in my application myself.

[2016-03-05 16:03] ganskef commented on #273
Please note, you have to implement `org.littleshoot.proxy.HttpFilters` simplyfied by extending `org.littleshoot.proxy.HttpFiltersAdapter`. I use `serverToProxyResponse(HttpObject httpObject)` to get the response, but it's chunked and compressed normally. To enable aggregation and uncompressing you have to return a value greater 0 in your `HttpFiltersSource#getMaximumResponseBufferSizeInBytes()` im

[2016-03-05 16:19] ganskef commented on #276
The code in 4 seems not to be complete. Please push a PR if you think it's a solution or it reproduces the problem.

I've never used an ActivityTracker. Eventually you've added special logging or conditional debug to show your observations.

[2016-03-10 10:59] PatrickHuetter commented on #275
+1 for this

[2016-03-11 17:52] RoundSparrow commented on #214
instead of BouncyCastle on android, use SpongyCastle

[2016-03-11 18:40] ganskef commented on #214
Hi Stephen,

I'm successfully using LittleProxy and BouncyCastle on Android. My main
problem using SSL on Android is fixed by using a recent Netty version.
I've seen the same problems using SpongyCastle before.

You could try a binary of my application from here:

   https://ganskef.github.io/MoCuishle/

Please send me a hint if it fails on your platform.

Regards Frank

Am 11.03.2016 um 18:52 sch

[2016-03-11 18:42] RoundSparrow commented on #94
@jukkahell has your project progressed?

[2016-03-11 19:12] RoundSparrow commented on #214
Hi Frank - your app worked fine on my Android M beta 1 system, I was able to use the Android Firefox app and see it logging the various sites I visited.

I'm hoping some of us can put together a simple Github app that shows how to use LittleProxy with gradle and Android Studio.  I see you have your own fork and some fixes of LittleProxy?

[2016-03-11 20:38] jukkahell commented on #94
I did the app as a research project for my theses and it was used only on my childrens' phones. However, the outcome was that a parental app just would require too many system level permissions that it was not practical to create without rooting the phone. Also, Android Lollipop limited more 3rd party app permissions that was required by my app and thus broke it.

So, I never finished the app to a

[2016-03-11 21:01] RoundSparrow commented on #94
Thank you for the reply. See issue #214 there is an app working that is pretty powerful.

[2016-03-13 22:58] jekh commented on #277
I'm not able to reproduce this. How are you configuring your HttpFiltersSource? Is it returning the same instance for each request? It'd also help to see the code of your HttpFilters implementation as well.

[2016-03-13 23:00] jekh commented on #275
This seems like a good idea to me. Any objections, @adamfisk?

I do agree, a netty upgrade is long overdue. I'll create a PR.

[2016-03-13 23:22] jekh commented on #274
_Finally_ catching up on some long overdue LP and BMP maintenance! I think this is a great idea, and I've created PR #279 to implement it.

[2016-03-13 23:30] #266 closed

[2016-03-14 15:53] adamfisk commented on #275
Sounds great to me @*jekh <https://github.com/jekh>!!*

On Sun, Mar 13, 2016 at 4:00 PM, Jason Hoetger <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2016-03-15 06:45] angiarao commented on #277
`
public HttpFilters filterRequest(HttpRequest originalRequest,
			ChannelHandlerContext ctx) {
  if(originalRequest.getUri().contains("macmillandictionary.com/dictionary/british/green_1")){
    return new HttpFiltersAdapter(originalRequest, ctx,null){
      public HttpResponse clientToProxyRequest(HttpObject httpObject) {
        String answer = "byebye";
	ByteBuf buffer = null;
	try {
	        b

[2016-03-15 09:31] #271 closed

[2016-03-17 02:15] jekh commented on #277
Yep, I can see how this would be a problem when the browser/client is reusing a connection to the proxy.

Your solution looks good to me; can you submit a PR?

[2016-03-17 02:16] jekh commented on #274
Adam merged 279, so I'll go ahead and close.

[2016-03-17 02:16] #274 closed

[2016-03-17 02:31] jekh commented on #161
LP has been upgraded to a more recent Netty, so closing this issue.

[2016-03-17 02:31] #161 closed

[2016-03-17 02:35] jekh commented on #87
This is fixed my @MediumOne's fix, so I'll close this issue.

[2016-03-17 02:35] #87 closed

[2016-03-17 10:09] cccccccoder commented on #263
but the httpObject was always DefaultHttpRequest  not the DefaultFullHttpRequest, why?

[2016-03-17 17:20] jekh commented on #263
@cccccccoder: You need to enable HTTP message aggregation, otherwise you will receive chunks of messages as they are received. See [HttpFiltersSource#getMaximumRequestBufferSize()](https://github.com/adamfisk/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/HttpFiltersSource.java) for details.

[2016-03-18 01:26] cccccccoder commented on #263
Thanks @jekh  got it!

[2016-03-18 21:08] FD- opened #283 "CPU spikes and generally high CPU usage"
I have built a simple test program that merely starts the DefaultHttpProxyServer. When downloading a file via the proxy server (so I get a constant connection), the java process' CPU usage of the LittleProxy server as displayed on Mac OS Yosemite 10.11.3' Activity Monitor spikes when starting the connection (to up to 60%, but mostly some 30%), then falls and settles to around 10%-20% during the re

[2016-03-22 05:30] jekh commented on #283
This is very concerning, indeed! Can you reproduce this against a public website/file download? Also, it might be worth installing a more recent Java 8 version, in case the issue was caused by a bug that's been fixed (25 was released in October 2014).

[2016-03-23 13:38] FD- commented on #283
I just tried with JRE 1.8.0_74 (the newest) and still had spikes of nearly 30% eg while downloading a 50MB test video from http://www.sample-videos.com.

[2016-03-24 03:27] jekh commented on #275
I plan to release beta2 in the next couple days. I'll include PR #284, if nobody has any objections.

[2016-03-24 03:29] jekh commented on #283
Thanks, I'll dive into this. A fix probably won't make it into beta2, unless somebody else would like to try to get a PR in, but I'll take a look after that's out.

[2016-03-24 10:00] MediumOne commented on #250
@dongxurr123 @ganskef @jekh - The fix for this issue has been merged. Please consider closing this issue.

[2016-03-24 11:17] PatrickHuetter opened #285 "Socks proxy server as chainproxy server?"
Is it possible to use a socks proxy server as chain proxy server within littleproxy?

Some tools or browsers only support http proxies. I've some socks proxies and i want to use them as proxy in my browsers. I thought about tunneling the traffic with a littleproxy http proxy to the socks proxies. Is this possible?

[2016-03-25 11:38] ganskef commented on #285
Hello Pattrick,

You've seen this HTTP(S)/SOCS4/SOCS5 client introduced with Netty 4.1
https://github.com/netty/netty/commit/2309a75d15ffbd063b9a710df4fa1ec3c63702f9
?

I had a look at the tests before implementing a simple Netty 4.1 proxy.
I'm afraid chaining via a SOCKS proxy isn't possible at the moment with
the client implemented in LittleProxy.

After using Netty 4.1 this could be replaced, I

[2016-03-26 01:25] #250 closed

[2016-03-26 18:54] jekh commented on #275
Done!

[2016-03-26 18:54] #275 closed

[2016-03-27 00:56] jekh commented on #283
I still wasn't able to reproduce this issue. I tested using the latest beta2 release, downloading different files from sample-videos, as well as a 1 gig iso. I never got my old mobile i7 to go above 10% CPU, except during a garbage collection. Are you perhaps setting a rather low heap size, causing increased gc?

[2016-03-27 23:48] adamfisk commented on #275
Awesome!! Exciting stuff.
On Mar 26, 2016 11:54 AM, "Jason Hoetger" <notifications@github.com> wrote:

[2016-04-02 21:14] jekh commented on #184
Since MITM with SSL is now supported, along with MITM + Chained Proxy, I'll go ahead and close this issue.

[2016-04-02 21:14] #184 closed

[2016-04-02 21:14] jekh commented on #86
SNI works with MITM now, so I'll go ahead and close this issue.

[2016-04-02 21:14] #86 closed

[2016-04-02 21:15] jekh commented on #85
Now that this is done, I'll go ahead and close this issue.

[2016-04-02 21:15] #85 closed

[2016-04-02 21:39] jekh opened #288 "Supporting fallback for Java's unrecognized_name error with SNI"
Java throws an exception when connecting to a server that sends back a TLS unrecognized_name warning. Browsers and other HTTP clients tend to ignore this warning, as it is merely a warning. As a result, LittleProxy isn't able to connect to these servers, but most browsers are.

As @ganskef noted in https://github.com/lightbody/browsermob-proxy/issues/117, Oracle does not consider this a defect: ht

[2016-04-03 00:13] ganskef commented on #288
Sounds great! I've never known a retry mechanic in LittleProxy. These was my tests to retry/restart a connection:
https://github.com/ganskef/LittleProxy-mitm/tree/master/src/test/java/org/littleshoot/proxy/mitm/example/handshakeFailesWithUnrecognizedName

I'll be happy to see your PR.

[2016-04-03 01:10] jekh opened #290 "Adding initial HttpRequest to MitmManager methods"
While working on the PR for issue #288, I started to wonder if it would be a good idea to add the initial HttpRequest for the HTTP CONNECT as a parameter to the MitmManager methods. This would allow the MitmManager to impersonate a host based on the Host header from the client, rather than on the actual hostname or the actual certificate returned by the upstream server. I can think of a few cases

[2016-04-03 01:12] jekh commented on #288
Thanks for the encouragement! I'm working on a PR and should have something out within the next day or so.

I did see your example before, and noticed that you said in a comment:

is a sledge hammer solution.

So I tried to find a way to do it without restarting the event loop, which led me to the chained proxy retry mechanism.

[2016-04-03 14:47] ganskef commented on #290
First, thank you @jekh pointing me to get the host name from sslContext. I haven't seen this possibility yet.

And yes, an initial HttpRequest would solve my offline requirement, to create a certificate without connecting the upstream server.

So I have no concerns changing the interface. There are some forks, but I haven't seen another application using LittleProxy-mitm yet. The beta1 release is

[2016-04-03 20:59] jekh commented on #290
Yes, that's correct, it's not valid for "normal" users, but when using the proxy with testing (which is BMP's emphasis), it is a somewhat common use case.

Sounds good. After PR #291 is reviewed, I'll create another PR adding in the initialHttpRequest to MitmManager.

[2016-04-11 00:42] jekh commented on #288
Since the discussion for this is now in #291, I'll close the issue.

[2016-04-11 00:42] #288 closed

[2016-04-16 19:29] jekh commented on #277
Since this is fixed now, I'll close it.

[2016-04-16 19:29] #277 closed

[2016-05-05 06:27] Jerry11111 commented on #157
How could I try to request again?

[2016-05-05 17:09] jekh commented on #157
@Jerry11111 - I don't believe that retrying the request is possible. I'm hoping to make it possible in the future through a refactoring of the ConnectionFlow.

Since the original issue is resolved, I'll close this issue.

[2016-05-05 17:09] #157 closed

[2016-05-05 17:10] caseyoneill commented on #157
I too would love to see this as an enhancement request.

[2016-05-14 19:35] jekh commented on #290
I'll close this since PR #294 is open now.

[2016-05-14 19:35] #290 closed

[2016-05-18 20:24] ganskef commented on #285
Note, I've tried a proxy test client with the `netty-handler-proxy` and found, it supports SOCKS and tunneling via CONNECT only. Sadly this is not supported with LittleProxy, since a CONNECT causes always TLS. A bug?

A simple proxy client like it's done via `URLConnection` with `Proxy` is not supported, yet. It should be relatively easy to add, I think. It is possible with a plain `netty-handler`

[2016-05-22 10:50] ganskef commented on #276
@jekh I've noticed a blocking behavior in a situation easy possible in IO/TLS processing. It seems to be an undefined or incomplete exception handling in connection flow. Please verify.

At `org.littleshoot.proxy.impl.ProxyToServerConnection.MitmEncryptClientChannel.new ConnectionFlowStep() {...}.execute()` the `sslEngine` is `null` in my offline environment. I have to check this (#282). After mer

[2016-06-13 20:49] doanchu opened #301 "How to modify the request before sending it to the server?"
Our project requires that if the browser sends a request with the URI https://domainA.com/a The proxy will modify the request so that the proxy will in fact connect to another URI https://domainB.com/b . It seems to be possible using HttpFilters only if the protocol is http. How can I achieve that goal if the protocol is https?

[2016-06-14 17:07] madoni opened #302 "Caught an exception on ProxyToServerConnection"
Hello all,
There are instances that I see this message in the log output for `browsermob`.

[code]

I am running `v1.1.0-beta-bmp-12` in conjunction with `browsermob v2.1.0`.

How should I go about addressing this error? Is this an issue with the library itself or the upstream proxy or the site?

Any direction would be appreciated... thank you!

[2016-06-14 20:20] jekh commented on #302
This is a BMP issue, so I'm going to close this issue and ask you to open an issue there. When you open it, include information on the network setup (is the chained proxy TCP or UDP? TLS or plain text?). Also it would be useful to know what version of netty you're running.

[2016-06-14 20:20] #302 closed

[2016-06-14 20:36] caseyoneill opened #303 "NullPointerException in ProxyUtils.isHead"
I don't have many details on how to reproduce this as it occurs very rarely but I do see this show up in the server logs every few days. What I can share is that I am configuring LittleProxy with HttpFiltersSourceAdapter, ActivityTracker, and MitmManager.

[code]

[2016-06-18 22:15] jekh commented on #303
This is very strange, indeed. Which version of LP are you using? In the current version, the only thing that could cause an NPE at ProxyUtils.java:396 is if the `currentHttpRequest` from the ProxyToServerConnection were null. That should not happen, but the code seems to anticipate such an unusual scenario in identifyCurrentRequest(). Have you seen a message like the one below earlier in the logs?

[2016-06-18 22:19] jekh commented on #301
Because of the way proxies work with HTTPS, this isn't as simple as it seems. For HTTPS there are essentially two mechanisms you can use: Intercept the HTTP CONNECT request with a filter and change the URL there, or change the way the hostname is resolved so that it resolves to the IP address of the desired domain.

In BrowserMob Proxy we take the latter approach, but at some point, when we rearch

[2016-06-18 22:19] jekh commented on #273
Since this has been answered, I'll close this issue.

[2016-06-18 22:19] #273 closed

[2016-06-18 22:21] jekh commented on #263
Since this has been answered, I'll close this issue.

[2016-06-18 22:21] #263 closed

[2016-06-23 09:57] wangzhih opened #304 "unable to connect to web site with self-signed certificate"
I tried the latest BMP. I run it standalone and start a proxy, I then set the proxy on FireFox preferences.
After that I can not visite internal https website with self signed certificate. I got "Unable to connect" -> "Firefox can't establish a connection to the server at ip:port" error. I have the certificate added in  "servers", but it does not help. I tried other public https website, there is

[2016-06-23 09:57] #304 closed

[2016-06-24 10:37] MediumOne commented on #303
This has been reported before as well. There is a discussion on this here -
https://github.com/adamfisk/LittleProxy/issues/255

On Sun, Jun 19, 2016 at 3:45 AM, Jason Hoetger <notifications@github.com>
wrote:

[2016-07-04 04:31] wangzhih opened #305 "How can I get the "cause" of ProxyToServerConnection?"
I need to expose the "cause" (exceptions) of the HTTPS connection failure (not by checking the log). Expose the certificate exception will be valuable to get to know the cause of the SSL handshake failure to the monitor Web Application, so that these kind of failures can be noticed and resolved quickly. I guess the easiest way is to pass the (Throwable cause) to proxyToServerConnectionFailed metho

[2016-07-04 14:47] AlmogBaku opened #306 "Custom ConnectionFlow"
Hi,
Is there any option to create a custom ConnectionFlow with LittleProxy?

[2016-07-04 15:51] AlmogBaku commented on #306
In my scenario I need to do some work on the new TCP connection before using the socket of the chained proxy(state authentication).. In order to do that I had to expose few classes as public, and to add a new method to the `ChainedProxy` interface: `ConnectionFlowStep customConnectionFlow(ProxyConnection connection);`

Will you be interested with PR?

[2016-07-07 08:09] ganskef commented on #306
Hello Almog,

thank you very much! Yes, PRs are always welcome. It's interesting to
see new ideas and requirements.

But I think, this could lead to a breaking change. I know, Jason @jekh
is wondering about refactoring the connection flow. I'm evaluating some
ideas here:

     https://github.com/ganskef/shortcircuit-proxy

Regards Frank

Am 04.07.2016 um 17:51 schrieb Almog Baku:

[2016-07-08 07:06] nickgrealy commented on #248
Anyone know what the status of this issue is?

@ganskef - why do we need a separate [project](https://github.com/spinn3r/noxy)/module, just so we can  expose the `mitming` flag to make it configurable? I don't see your justification...

@kenbreeman  - what happened to [your pull request](https://github.com/adamfisk/LittleProxy/pull/249)? (Your changes looked good to me...)

[2016-07-08 07:33] nickgrealy opened #308 "Feature request > ability to forward request onto a web server ("reverse proxy")"
Hi all,

I can't see anyway to forward requests onto a web server (I assume this is core behaviour for a proxy). Can someone help me out? Here's my attempt - https://github.com/nickgrealy/littleproxy-poc/blob/master/src/main/java/org/littleproxypoc/Application.java#L16-22

Here's the feature I'm trying to implement:
### Feature:

**As a** developer
**I want** to be able to configure `LittleProxy`

[2016-07-08 09:19] zhangshihai1232 opened #309 "Connection to upstream server failed"
When I use littleProxy this exception always occur how to solve？

[2016-07-08 17:15:22  INFO org.littleshoot.proxy.impl.ProxyToServerConnection:791](CONNECTING) [id: 0x0181dbf2]: Connection to upstream server failed
java.net.ConnectException: Connection timed out: no further information: images-na.ssl-images-amazon.com/54.230.145.60:443
    at sun.nio.ch.SocketChannelImpl.checkConnect(Native Metho

[2016-07-08 15:44] PatrickHuetter opened #310 "littleProxy in transparent mode isn't really transparent"
Using withTransparent(true) leads to requests without the "Via" header but also adds a new header:
   ` "Proxy-Connection": "keep-alive"`

That seems to be a bug because that's not transparent (as known from other proxy software).

[2016-07-09 00:35] kenbreeman commented on #248
@nickgrealy the maintainers didn't like it, so I closed it and used nginx instead.

[2016-07-09 21:30] jekh commented on #308
What you're looking for is a reverse proxy. Little Proxy is a forward proxy. While there are similarities, they are very different use cases; LP is simply not designed to meet reverse proxy use cases. Though it may technically be possible to approximate a reverse proxy using LittleProxy, it's not something that we're actively developing or supporting at this time. As an alternative, I'd suggest Ap

[2016-07-09 22:21] jekh commented on #305
It's true, there's no way to access the cause of the connection failure currently. As part of the upcoming ConnectionFlow rewrite, I'd like to expose this.

[2016-07-10 00:34] jekh commented on #309
It looks like you're unable to connect to that server. Make sure you are connecting to the right URL and that you're able to connect to that server directly.

[2016-07-10 01:33] jekh commented on #310
Are you sure the proxy is adding that header, not the HTTP client that's sending requests through the proxy? The only place in the code where I see Proxy-Connection being added is when responding to a client's CONNECT request.

[2016-07-10 10:46] PatrickHuetter commented on #310
You're right. My client (chrome) is adding that header. Thanks for your tip!

[2016-07-10 10:46] #310 closed

[2016-07-10 22:57] nickgrealy commented on #308
Thanks @jekh, just a question though: IS Little proxy ONLY a forward proxy? There is no mention of forward or reverse in the [README.md](https://github.com/adamfisk/LittleProxy/blob/master/README.md). If it is the case, the documentation needs to be updated to reflect this. Thoughts?

[2016-07-10 23:13] nickgrealy commented on #248
I've [raised a ticket to have the documentation updated to (at least) reflect the fact that this is a "forward proxy" only](https://github.com/adamfisk/LittleProxy/issues/308) (but why??).

@kenbreeman dope! I don't suppose you're [maintaining a "reverse proxy-able" version of the codebase](https://github.com/kenbreeman/LittleProxy/)? If so, I'm interested. If not, I'll create my own fork...

[2016-07-11 02:33] kenbreeman commented on #248
@nickgrealy sorry, no, but you're welcome to re-use what I wrote in the PR

[2016-07-11 05:21] wangzhih commented on #305
Perfect. Thanks Jason. Any outlook for the next milestone to include this?

[2016-07-12 15:35] nikolay-popov opened #311 "Bug: pipeline initialization issue causes occasional UnsupportedOperationException: unsupported message type: DefaultFullHttpResponse exception"
We have encountered occasional exception
[code]
According to this answer: https://github.com/netty/netty/issues/3333#issuecomment-70613647 that is a Little Proxy's bug:

HttpResponseEncoder should be before HttpObjectAggregator on pipeline, HttpObjectAggregator's javadoc bewares of it: https://github.com/netty/netty/blob/netty-4.0.36.Final/codec-http/src/main/java/io/netty/handler/codec/http/HttpO

[2016-07-14 19:36] ganskef commented on #311
Hello Nikolay,

Thank you very much for this hint! Sounds very interesting. I'll have a
closer look at this.

Regards Frank

Am 12.07.2016 um 17:35 schrieb nikolay-popov:

[2016-07-14 20:37] ganskef commented on #248
Hmm, I know mitmproxy for example which supports forwarding and reverse proxies too. I think, there are tunneling, forwarding, reverse proxies, with significant different requirements. HTTP transports little text files, images, large binary data, streams, ... Sometimes it should be intercepted and modified at application layer, sometimes it should be simply transmitted efficiently. Putting them al

[2016-07-17 10:57] ganskef commented on #311
Hi,

please consider, I don't understand why LittleProxy needs two
ChannelPipelines. I could miss here therefore.

But I know a ChannelPipeline invokes the read (Inbound) handlers in
ascending ordering of the list and then the write (Outbound) handlers in
the descending ordering. See the figure in the JavaDoc of
ChannelPipeline too.

So I'm reordering as follows: first bytes read/write monitors, t

[2016-07-17 17:16] ganskef commented on #311
Am 17.07.2016 um 12:57 schrieb Frank Ganske:

Sorry for confusion. LittleProxy (every proxy) acts as a server with a
ServerBootstrap and as a client with a separate Bootstrap. So it have to
contain ChannelPipeline twice. (of course, see
https://github.com/ganskef/shortcircuit-proxy#using-handlers)

[2016-07-18 03:39] zhangshihai1232 opened #313 "LEAK: ByteBuf.release() was not called before it's garbage-collected"
When I use littleProxy,I did not add much code, I just make getMaximumRequestBufferSizeInBytes and getMaximumResponseBufferSizeInBytes return 10*1024*1024 in HttpFiltersSource, it occur ByteBuf release error，when I make them return 0, there is no error. How to handle please?
the bootstrap is as fowllows

[code]

the error is as below

[code]

[2016-07-19 15:11] jekh commented on #306
I'd love to see some ideas around the ConnectionFlow refactoring. I've been pondering this for months, but I don't have any fully-baked ideas yet. I won't be able to start devoting significant time to it until this fall, so anybody who has some thoughts, please do share!

[2016-07-19 15:18] jekh commented on #313
This is not good. What version of LP are you running? And what URL are you hitting? Also, what properties are you setting in the littleproxy.properties file?

[2016-07-20 17:58] hkamran opened #314 "isRequestToOriginServer is blocking reverse proxy requests"
Hi,

I've been using littleProxy to act as a reverse proxy. An example of this use case can be seen from this link,
http://stackoverflow.com/questions/29865218/create-a-reverse-proxy-by-littleproxy

Since, 1.1.0 I noticed that inside the class ClientToProxyConnection method doReadHTTPInitial it does a initial check to see if the request is from the origin. Is there a way to bypass that check? or i

[2016-08-02 02:47] hkamran commented on #314
Ah, okay. Will check back again for that update then!

[2016-08-03 08:46] Schlangguru commented on #285
Does that mean, that we only can establish a proxy-to-server connection over an socks proxy if we update netty to 4.1?
I just tried du add a Socks5PorxyHandler to the ProxyToServerConnection pipeline and it seems to work. But unfortunatly the littleproxy code shows a lot of warnings since it uses deprecated methods of netty 4.1.

[2016-08-04 10:05] nikolay-popov commented on #311
I've found a way to reproduce it. With Little Proxy listening on local port 8080 the following script will make the request fail with the exception:
[code]

Note "Expect: 100-continue" header - it will make netty send 100 status code triggering the bug at LP.

[2016-08-07 18:03] #311 closed

[2016-08-07 18:18] ganskef commented on #311
Hi @nikolay-popov thank you very much for the reproducer! Sadly I could not reproduce the failure on Linux and Mac OS X with Java 1.8. I've tried some curl versions but everything seems to work well. I've merged the PR nevertheless.

Would you like to see the outputs? What's your environment?

[2016-08-10 20:57] ganskef commented on #285
@Schlangguru sorry, I'm late, but here my experiences: Netty 4.1 is a backport of the Netty 5 API which deprecates the Netty 4 API. It aims to be backward compatible and I'm using it in my LittleProxy based application with no problems. You should be able too.

[2016-08-21 09:22] ZombieB commented on #276
Hi,
I am also facing this issue
Any updates / plans to push a fix?

Thanks

[2016-09-07 01:09] hoaibang07 opened #317 "how to configure the proxy as a transparent proxy"
I have 2 network card, first network card with the address 192.168.5.3, second network card with the address 10.1.1.252.
How to configure using proxy as a transparent proxy,
meaning the client only need to change the gateway of 192.168.5.3 is able to go through the proxy without having to modify the browser's proxy option.
I use the following code to do this:
`
 final ChainedProxyAdapter adapter =

[2016-09-19 03:03] #314 closed

[2016-09-22 03:34] dumbninja22 opened #318 "deleted"
deleted

[2016-09-22 03:37] dumbninja22 commented on #318
@adamfisk

[2016-09-22 03:38] dumbninja22 commented on #318
Any help would be appreciated :)

[2016-09-22 05:00] sarowar-cse commented on #318
ChainedProxy will do the job, just add the http proxy to the chain. Take a look at [BaseChaindedProxyTest](https://github.com/adamfisk/LittleProxy/blob/master/src/test/java/org/littleshoot/proxy/BaseChainedProxyTest.java)

[2016-09-22 20:14] n8fr8 commented on #285
Any progress or news on this? I am considering removing use of Polipo in favor of LittleProxy but definitely need SOCKS support on Android.

[2016-09-23 11:27] ganskef commented on #285
Hi Nathan @n8fr8,

since Polipo is a caching web proxy, consider to have a look at https://github.com/ganskef/MoCuishle. It is a WWWOFFLE descendant like Polipo on top of LittleProxy. I'm using it for years on Android, Linux and Mac OS X, Windows a little. It's a one proxy <-> one client scenario. I agree Nonblocking IO provided by Netty is great in an application server, but here it could be over

[2016-09-26 00:58] #317 closed

[2016-10-06 06:00] #318 closed

[2016-10-11 06:23] stevenliuit opened #320 "Ip dynamic switching problems"
hey,
I have five proxy addresses, I hope that the website for each request once ip this can be achieved?
E.g: I have a public network ip for the 10.0.0.21:1080 proxy address
I hope to visit 10.0.0.21:1080 This one ip to return to my other five agents ip address. This can be achieved?

[2016-10-19 16:36] adamjson commented on #313
I am hitting this same problem and it it is a complete show stopper. It seems to be that setting the max response size > 0 to enable buffering causes this. Little proxy 1.1.0.

[2016-10-21 04:18] phstudy commented on #313
I'm also hitting this problem when visiting the [url].(https://www.joyce-shop.com/PDContent.asp?yano=060412020010a21)

[2016-11-09 07:03] buko opened #322 "Does LittleProxy support SNI?"
LittleProxy looks like a great little project but we're having some problems figuring out its capabilities. Is there a clear list of what LittleProxy can and can't do somewhere?

We're particularly curious to know whether LittleProxy supports SNI. Is it possible not to proxy SSL traffic but to act as a SSL-capable proxy for multiple vhosts and serve up different certificates for each? Netty seems

[2016-11-09 09:26] zhiying8710 opened #323 "got SSLHandshakeException: Server chose SSLv3, but that protocol version is not enabled or not supported by the client."
i'm using Littleproxy to visit a https url, but got below error:
`
2016-11-09 14:33:06,121 [LittleProxy-4-ProxyToServerWorker-0] ERROR: org.littleshoot.proxy.impl.ProxyToServerConnection  光大银行_ceb_19 10.193.1.238:8080    - (DISCONNECTED) [id: 0xde7f936d, L:0.0.0.0/0.0.0.0:4868 ! R:www.cebbank.com/202.99.20.234:443]: Caught an exception on ProxyToServerConnection
io.netty.handler.codec.DecoderExcep

[2016-11-10 02:49] zhiying8710 commented on #323
a little hack may solve this problem:
`
            Field protocolsField = JdkSslContext.class.getDeclaredField("PROTOCOLS");
            protocolsField.setAccessible(true);

            Field modifiersField = Field.class.getDeclaredField("modifiers");
            modifiersField.setAccessible(true);
            modifiersField.setInt(protocolsField, protocolsField.getModifiers() & ~Modifier.FINAL);

[2016-11-10 05:45] zhiying8710 commented on #323
finally solved it, change java version from 1.7.0_79  to 1.7.0_51

[2016-12-07 03:07] arykov commented on #308
Years ago I wrote something that you might want to have a look at. It actually uses quite an old version of little proxy underneath.
https://github.com/arykov/reverseproxy

[2016-12-08 04:07] ldn0x7dc opened #325 "How to install littleproxy cert on Android devices?"
I'm using '--mitm' option to start the proxy server.
The problem is the android browser warns me that the certificate is invalid when viewing an https prefixed url.
I guess I can install a littleproxy certificate file on my android device just like Charles.
So where can I find this file? I tried the "littleproxy_cert" file in this repo but it can not be opened.

[2016-12-08 07:11] MediumOne commented on #322
From the mention of SNI and vhosts, I understand that you are looking for the functionality of a "reverse proxy" which terminates SSL and based on the SSL server_name extension, it then picks a web server to send the HTTP request to. This behaviour is not supported by littleproxy as it is only a forward proxy (see #308). More specifically, it does not have any support to terminate SSL on behalf of

[2016-12-08 13:17] #325 closed

[2016-12-08 23:25] zboralski commented on #303
If netty fails to decode the httpObject correctly... it will catch the exception and add it to decodeResult as a failure...

It won't show in LittleProxy's log unless you have its level set to debug :

- DEBUG [LittleProxy-0-ProxyToServerWorker-0] impl.ProxyToServerConnection (ProxyToServerConnection.java:224).readHTTPInitial() - (AWAITING_INITIAL) [id: 0xba9629ee, L:/127.0.0.1:59374 - R:/127.0.0.

[2016-12-10 02:44] jekh commented on #303
@zboralski - is there a URL you know of that consistently reproduces this issue? This is very helpful information indeed.

[2016-12-10 02:49] jekh commented on #323
Well that's not much of a fix, but I'll close this issue since your issue appears to be solved.

[2016-12-10 02:49] #323 closed

[2016-12-10 22:26] jekh commented on #322
@MediumOne is right, LP doesn't currently support reverse proxy capabilities. LP does support SNI in the sense that a client using SNI can connect to it, and through its pluggable MITM capabilities you can customize the certificates that are returned to the client.

[2016-12-10 22:26] #322 closed

[2016-12-10 22:27] jekh commented on #320
Not sure I understand the question, but it sounds like maybe you're looking for a load balancer like apache or nginx.

[2016-12-10 22:27] #320 closed

[2016-12-10 22:27] #309 closed

[2016-12-11 14:45] MagicDroidX commented on #313
I have met with this problem too.

[2016-12-15 18:01] zboralski commented on #303
@jekh if you want to reproduce the problem:

LittleProxy is running on port 8080

[code]

In another terminal

[code]

[2016-12-18 00:15] jekh commented on #303
Thank you, @zboralski, that was extremely helpful. I'm able to repro the issue consistently, and I see what's happening. It looks like there are two separate issues that need to be resolved:
1. The `currentHttpRequest` in `ProxyToServerConnection` is null, which is the immediate cause of the NPE. The reason it's null is because it's generally not set until after netty _successfully_ decodes the re

[2016-12-27 01:00] jekh commented on #303
This should be fixed now in 1.1.1. I've been testing with it extensively and have not run into this issue. Feel free to reopen if you see it again.

HUGE thanks to @zboralski for the steps to repro this!

[2016-12-27 01:00] #303 closed

[2016-12-27 01:12] jekh commented on #313
I'm not able to reproduce this. I suspect it may have been one of the netty memory leak issues. Can you try with LP 1.1.1? It uses the most up-to-date netty.

[2016-12-27 01:14] jekh commented on #283
There's been no update, so I'll go ahead and close this issue. Please feel free to reopen if you still see the issue with LP 1.1.1.

[2016-12-27 01:14] #283 closed

[2016-12-28 10:35] Schnutzel opened #332 "Improper handling of bad requests"
When LittleProxy gets a bad request, it doesn't check the decoder result for failure (httpRequest.getDecoderResult().isFailure()). Instead, it treats the request as a "valid" request for the URL '/bad-request' which then causes it to fail because the URL doesn't start with "http://".

Additionally, the connection is kept open, but because the request wasn't decoded correctly, some leftovers might

[2016-12-28 17:48] myleshorton commented on #332
Thanks @Schnutzel. It sounds like you've dug pretty deeply into the code. Would you be up for submitting a pull request?

[2016-12-28 23:37] jekh commented on #332
I suspect this is the same issue that was fixed in 1.1.1. @schnutzel can you try with the new release?

[2016-12-28 23:38] jekh commented on #332
I suspect this is the same issue that was fixed in 1.1.1. @schnutzel can you try with the new release?

[2016-12-29 09:40] Schnutzel commented on #332
The issue still occurs in 1.1.1.
This is what I'm trying to do:
1. Send a bad request, for example:
`GET GET http://www.github.com/ HTTP/1.1`
2. After receiving the '400 Bad Request' error, I immediately try to send a valid request, for example:
[code]
At that point I get no response from the proxy server.

[2016-12-30 06:48] jekh commented on #332
Yes, you're quite right, @Schnutzel, I'm able to repro this consistently. This is actually the converse of the issue that was fixed by PR #330, in the sense that this is a decode failure in the request from the client rather than the response from the server.

I think your recommended approach (return 400 and close the connection) is the right approach, and that's exactly what we do with invalid s

[2016-12-30 15:08] igor-dmitriev commented on #313
Hi there I got this issue as well, any updates???

[2016-12-30 17:51] jekh commented on #313
@igor-dmitriev Does this happen when using LP 1.1.1?

[2016-12-30 18:02] igor-dmitriev commented on #313
@jekh I've just upgraded to 1.1.1. I have been spending whole day trying to figure out why it's happening. According to this article - http://netty.io/wiki/reference-counted-objects.html this issue is occurred due to ByteBuf had not been released after gc reclaimed it. And direct buffer is used by default, it means that object is created out of heap. Unfortunately it's not clear how to catch the i

[2017-01-03 16:09] igor-dmitriev commented on #313
Hi @jekh unfortunately I still got this exception after upgrade to 1.1.1:
`
LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records: 3
#3:
	io.netty.buffer.AdvancedLeakAwareCompositeByteBuf.release(AdvancedLeakAwareCompositeByteBuf.java:791)
	io.netty.handler.codec.http.HttpObjectAggre

[2017-01-05 09:43] benhaze opened #335 "ActivityTracker: Response/Request belonging"
Is there any way (in ActivityTracker) to find out which HTTPRequest caused the HTTPResponse?

    @Override
    public void responseSentToClient(FlowContext flowContext, HttpResponse httpResponse)
    {
       //which request belongs to this response?
       super.responseSentToClient(flowContext, httpResponse);
    }

    @Override
    public void requestReceivedFromClient(FlowContext flowContext

[2017-01-05 10:05] techpavan opened #336 "ClientToProxyConnection.respondWithShortCircuitResponse() removes auth challenge"
We have a app with LittleProxy and use custom authentication. If the authentication fails, we respond the failure by calling org.littleshoot.proxy.impl.ClientToProxyConnection#respondWithShortCircuitResponse - This method invokes modifyResponseHeadersToReflectProxying which in turn invokes stripHopByHopHeaders and strips off the PROXY_AUTHENTICATE header which we have placed intentionally. Could y

[2017-01-05 10:10] techpavan opened #337 "Outbound SSL Proxies are not invoked with SNI header"
I recently encountered a scenario where an environment has a outbound proxy listening on a secure port. This requires the SNI header to be present in order to get through, but LP does not add SNI headers in such case.

I just modified the code as below to overcome this situation, let me know if this would be fixed or should I raise a PR with below changes?

org.littleshoot.proxy.impl.ProxyToServer

[2017-01-06 22:55] jekh commented on #337
I think that would be a great PR for you to submit. However, we wouldn't want to get the hostname by calling InetSocketAddress.getHostName(), since it will cause a reverse lookup if the chained proxy is specified by IP address rather than hostname. You could perhaps check if the InetSocketAddress contains a hostname by checking isUnresolved() and using that to decide whether to use SNI or not.

[2017-01-10 13:53] MagicDroidX commented on #325
Have you solved the problem?

[2017-01-12 05:53] ldn0x7dc commented on #325
@MagicDroidX
[code]

The file charles.p12 is exported from **Charles 4.0.2**(Help - SSL proxying - Export Charles Root Cer...). You can create your own .p12 file alternatively.

[2017-01-12 07:10] jekh commented on #325
@ldn0x7dc - Looks like you're using the same `mitm` module that BrowserMob Proxy uses. I'm very glad it's useful to folks using "out-of-the-box" LittleProxy -- that was always my intention.

 @MagicDroidX - there's a readme on using `mitm` with LittleProxy here: https://github.com/lightbody/browsermob-proxy/tree/master/mitm#littleproxy-without-browsermob-proxy . Note the `mitm` module does not req

[2017-01-12 10:11] ldn0x7dc commented on #325
@jekh
Thanks!

@MagicDroidX
FYI, I'm using `net.lightbody.bmp:mitm:2.1.2` in addition to `org.littleshoot:littleproxy:1.1.0`.

[2017-01-12 10:49] MagicDroidX commented on #325
@ldn0x7dc Thanks! And I am using littleproxy-mitm and it works well!

[2017-01-17 10:32] holy834 opened #338 "ClientToProxyConnection.isRequestToOriginServer problem"
Hi,

I find browsers sometimes reuse HTTP request when visiting same site:
[code]

In such circumstance, the following code in ClientToProxyConnection.isRequestToOriginServer will always return "Bad Request URI to ...."
[code]
because "httpRequest" equals to "/favicon.ico"

I checked revision history and found that the code was changed from "originalRequest" to "httpRequest". originalRequest shoul

[2017-01-19 04:08] jzhao-talend opened #339 "The proxy didn't work when update jdk to jdk1.8.0_111"
Hello,
https://github.com/Talend/components/blob/master/components/components-salesforce/src/test/java/org/talend/components/salesforce/runtime/SalesforceProxyTestIT.java#L80
When I run the proxy test with littleProxy, it worked well with jdk1.8.0_60
[logfile_with_jdk1.8.0_60.txt](https://github.com/adamfisk/LittleProxy/files/715632/logfile_with_jdk1.8.0_60.txt)
but after update to jdk1.8.0_111 .

[2017-01-19 06:07] jekh commented on #339
What exactly is the difference you're seeing? There's a lot going on in that log file, all I see is a junit assertion failure.

[2017-01-19 06:08] jekh commented on #338
Can you elaborate on the issue here? The HTTP request you pasted for /favicon.ico looks correct to me.

[2017-01-20 05:00] jzhao-talend commented on #339
Sorry about that attached a wrong file. I upload a new one. I don't know LittleProxy very well.
[logfile_with_jdk1.8.0_111_updated.txt](https://github.com/adamfisk/LittleProxy/files/718442/logfile_with_jdk1.8.0_111_updated.txt)
In the test, I try to login salesforce with proxy which created with LittleProxy.
It worked with 1.8.0_60 but failed with 1.8.0_111
[code]
we depend those jars.
[code]

[2017-01-20 10:50] caillette commented on #107
Most of time synchronous behavior is fine for filtering so I suggest to not change it. For adding delay, I would add a `ChannelHandler` that intercepts inbound objects, and sends them them on their normal way inside a scheduled task (using `ChannelHandlerContext#executor()`). This requires altering the `ChannelPipeline`. Sadly, LittleProxy doesn't support this for now.

`ChannelPipeline` customisa

[2017-01-20 17:36] jontowles opened #341 "Socket Leak Issue"
We have been seeing an issue where we are running into this:
17-Jan-2017: 08:33:50: [NioReceiver] ERROR org.apache.catalina.tribes.transport.nio.NioReceiver - Unable to process request in NioReceiverjava.io.IOException: Too many open filesat sun.nio.ch.ServerSocketChannelImpl.$$YJP$$accept0(Native Method)at sun.nio.ch.ServerSocketChannelImpl.accept0(ServerSocketChannelImpl.java)at sun.nio.ch.Serve

[2017-01-22 09:25] danielkyu opened #342 "'Accept-Encoding' header value can be improperly formatted after removing the 'sdch' encoding."
Apologies in advance if I'm breaking any rules by creating this issue.  I know some projects have a highly structured system when it comes to what kind of information tickets need to contain and how they need to be presented.  A simple search didn't yield anything on this particular issue so hopefully I've done my due diligence :]

I'm currently using BrowserMob Proxy for one of my projects and I

[2017-01-22 09:41] danielkyu commented on #342
I jumped the gun and created a PR that I think should address this issue.  It can be found [here](https://github.com/adamfisk/LittleProxy/pull/343).

[2017-01-22 23:10] #332 closed

[2017-01-22 23:11] jekh commented on #341
I don't see anything in that stack trace related to LittleProxy, is there something that leads you to believe LP/Netty is not closing sockets properly?

[2017-01-22 23:26] jekh commented on #342
Agreed, this is definitely a bug. Having an Accept-Encoding that is just the empty string is certainly not desired behavior.

I do think that the server at www.chase.com is incorrect in returning a 400, as the request is syntactically valid, the client is just saying it will accept an encoding that the server doesn't recognize (i.e. the empty string). The server should just ignore the encoding it

[2017-01-22 23:29] jekh commented on #339
I still only see a junit assertion error in your tests. The debug log shows that LP received a `407 Proxy Authentication Required`, so perhaps you're not authenticating properly?

I don't see anything here that points to an LP issue, so I'm going to close the issue, but please feel free to reopen if you have additional information.

[2017-01-22 23:29] #339 closed

[2017-01-22 23:43] jekh commented on #336
Is there a reason you're not using the built-in `ProxyAuthenticator` interface? When using the interface, responses will have the appropriate Proxy-Authenticate header.

I am inclined to agree that short-circuit responses generated from an HttpFilter method probably shouldn't have hop-by-hop headers removed. If there is a hop-by-hop header in a filter response, it's indicative of explicit intent t

[2017-01-28 19:27] evilband7 commented on #338
in http header
1. proxy request would be 'GET http://www.somewhere.com/favicon.ico HTTP/1.1'
2. but direct request would be 'GET /favicon.ico HTTP/1.1';

If your http request is No.2, It'll be marked as bad request. (because it request to proxy server and proxy server is not http server)

and if little proxy won't mark it as a bad request, it will be an infinite loop of request and server will be

[2017-01-28 19:33] evilband7 commented on #338
but my another opinion, If you want to handle DIRECT request. It's should be some kind of GATEWAY not a proxy.
and If it's a gateway, It won't forward a request by hostname but by route configuration. (You can use netty to do this.)

[2017-01-29 20:17] danielkyu commented on #342
Awesome!  Thanks for merging this in.

[2017-01-29 20:17] #342 closed

[2017-01-31 07:55] jekh commented on #313
Could you try this again after forcing your netty dependency to the latest version (4.0.44 or 4.1.8)? A netty bug was fixed in .43/.7 that led to false positives from the leak detector.

[2017-01-31 10:03] igor-dmitriev commented on #313
As I see the latest version is - 4.1.7 - https://mvnrepository.com/artifact/io.netty/netty-all.

[2017-01-31 17:00] jekh commented on #313
That works, or use 4.1.8 which was just released yesterday.

[2017-02-04 03:25] Simonfld opened #344 "did not support http keep-alive?"
the proxy to origin server does not keep-alive

[2017-02-04 03:33] jekh commented on #344
Can you explain a bit more about what led you to that conclusion? Keep alive have been working well for me.

[2017-02-04 03:42] Simonfld commented on #344
I put a nginx between user request and litteproxy, on high concurrent stress test,  the nginx and littleproxy didn't keep alive,   nginx config is correct,  a lot of close_wait and time_wait

[2017-02-04 03:56] Simonfld commented on #344
[picture: system architecture](https://cloud.githubusercontent.com/assets/20982688/22615507/aa4895f6-ead0-11e6-9105-8e1b1be1bd01.png)   look this picture,   the connection  c2,  c3 didn't keep alive

[2017-02-04 18:15] jekh commented on #344
This still isn't conclusive; just because there are close_waits and time_waits doesn't mean keep-alive isn't working properly. There are a lot of reasons LP may close a connection to an upstream server, not least of which is receiving a `Connection: close` header in a response.

I can confirm that LP does in fact keep upstream connections alive by default, so we'll need some more information to he

[2017-02-05 14:16] ericbeland commented on #229
It looks like HTTP/2 may now be the majority of internet traffic. [HTTP/2](https://www.keycdn.com/blog/http2-statistics/)  I see there's a profile for netty-4.1 in the pom. I'm wondering about the status of that @jekh ?

[2017-02-06 05:46] zhiying8710 opened #345 "Change ChainProxy on the fly."
I have some tasks, each task use an independent ChainProxy, when one task is done, the LP should not  stop and its ChainProxy should be changed for next task,

I've implemented my own ChainedProxyManager:

    private InetSocketAddress chainedProxy;
    private String chainedProxyCredentials;

    @Override
    public void lookupChainedProxies(HttpRequest httpRequest,
            Queue<ChainedProx

[2017-02-06 09:20] Simonfld commented on #344
now I want use LittleProxy as an network gateway,  like Nginx,  can do uri validate, sign identity,  dynamic routing, monitoring, security, and High-throughput http transfer proxy,   did LP support this ??

[2017-02-06 09:29] Simonfld commented on #344
I do a test,  the ClientToProxyConnections and ProxyToServerConnections is 1:1,   did LP support asyc process request ?

[2017-02-06 20:07] myleshorton commented on #229
I'm a bit confused about this ticket. AFAIK HTTP/2 is still only supported over TLS, and TLS to proxies is of course all over CONNECT. HTTP/2 is then tunneled over CONNECT as well, so it's not clear there's any actual work necessary here.

[2017-02-06 20:08] myleshorton commented on #229
As in, there's no browser that uses it for unencrypted traffic in practice.

[2017-02-06 22:46] jekh commented on #229
If we want to support MITMing TLS with LP+HTTP/2, there would be some work involved. For one thing, we'll need to switch to Netty 4.1, which is mostly backward compatible (LP compiles and tests pass using the `netty-4.1` profile), but there will probably be a few clients that break. Another major effort will be rewriting the ConnectionFlow, since the current assumptions about one request per conne

[2017-02-07 01:07] jekh commented on #345
The ChainedProxyManager instance cannot be replaced once the proxy has started, but it doesn't need to offer the same ChainedProxy instances to the `chainedProxies` Queue. The ChainedProxyManager can offer different ChainedProxy instances based on the request, or the CPM's internal state, etc.

Unfortunately there is one limitation: After a ProxyToServerConnection is created for a given connection

[2017-02-07 01:10] jekh commented on #338
Thank you, @mapkuff, I believe your analysis is correct. If @holy834 is indeed trying to have LP act as an origin server, that will not work in 1.1.1. However, I've just opened PR #346 which will enable LP to act as a forward proxy.

I'm going to close this issue for now in light of the PR, but please reopen if you still have issues.

[2017-02-07 01:10] #338 closed

[2017-02-07 03:51] myleshorton commented on #229
Ah yes of course -- totally agreed.

AFAICT Server Push in particular should just work within CONNECT no?

Sounds good to me!

[2017-02-08 02:21] jekh commented on #229
Yep, that's right, all HTTP/2 functionality should "just work" when LP is in transparent mode. All LP is doing in that case is passing bytes around.

I'll work on getting some notes/sample code for the CF refactor written up and out for comment. Should have something sensible ready by early March.

[2017-02-08 03:03] albertok opened #347 "tproxy support"
Hi,

I'm Looking at using littleProxy on my next project. You guys have done an amazing job and it seems to be a perfect fit for most of my requirements.

I was wondering if anyone has been brave enough to try and implement Linux [tproxy](https://www.kernel.org/doc/Documentation/networking/tproxy.txt) support  into littleProxy?

The driver being ipv6 does not support NAT and this seems like the be

[2017-02-08 09:41] zhiying8710 commented on #345
@jekh thank u very much,

this is work for me:

    @Override
    public void lookupChainedProxies(HttpRequest httpRequest,
            Queue<ChainedProxy> chainedProxies) {

        if (chainedProxy != null) {
            chainedProxies.offer(new ChainedProxyAdapter() {
                @Override
                public InetSocketAddress getChainedProxyAddress() {
                    return chained

[2017-02-15 14:59] fomin-vyacheslav-main opened #348 "LEAK: ByteBuf.release() issue (with reproducer)"
Occasionally we are getting the following error when running the little proxy:
[code]

This seems to be reproducible only when it runs together with spring boot. I created a "hello world" simple reproducer for you.

The test proxy config is a basic one:

[code]

1. Unzip [lptest.zip](https://github.com/adamfisk/LittleProxy/files/777332/lptest.zip)
2. Run ProxyApplication
3. Run in terminal `for i

[2017-02-15 15:05] fomin-vyacheslav-main commented on #348
The issue seems to be related to https://github.com/adamfisk/LittleProxy/issues/313

[2017-02-16 02:24] jekh commented on #348
Since you mentioned that one of the steps to reproduce is forcing a GC, I strongly suspect this is a false positive caused by a netty issue that was fixed in 4.0.43/4.1.7 ([see PR #6103](https://github.com/netty/netty/pull/6103)). I just merged a PR to update to .44/.8, so this should now be fixed in master.

[2017-02-16 06:19] viacheslav-fomin-main commented on #348
Thanks for the quick response! The forced GC is just for the bug to appear sooner.  The issue is reproducible on a regular basis as well. I tried the latest netty version (as was suggested in another bug here)  but that did not seem to work for me..

[2017-02-22 00:45] #347 closed

[2017-02-27 01:00] jekh commented on #348
PR #351 should fix this issue. I do see another memory leak when using chained proxies, but I believe that is a separate issue.

[2017-02-27 01:10] jekh commented on #313
I believe this issue is fixed now by PR #351. Let's move discussion to issue #348 and close this.

[2017-02-27 01:10] #313 closed

[2017-02-27 03:25] mjallday commented on #348
@fomin-vyacheslav-main can you please verify this?

[2017-02-27 13:35] fomin-vyacheslav-main commented on #348
Yes, I can not reproduce the issue locally with this change . Thanks!

[2017-02-28 12:19] Weakie opened #353 "repeat call writeGatewayTimeout() method after chainedproxy connect fail."
class ClientToProxyConnection:
[code]
class ProxyToServerConnection:
[code]
class ProxyConnection:
[code]
I found that the proxy will send too many http 504 response to the client on the idle connection, and after read the source code , I found :
if current state in ProxyToServerConnection is part of connect, and it connect failed. It will cause lastReadTime in proxyConnection.read() is not update

[2017-03-01 08:27] jekh commented on #353
I suspect this is fixed in PR #350.

[2017-03-01 09:12] zhiying8710 commented on #323
More effective solution is find $JAVA_HOME/jre/lib/security/java.security, find

delete everything after =

[2017-03-02 13:37] Kurimatzu opened #354 "Android get GET and POST"
[code]

Response:

DefaultHttpRequest(decodeResult: success, version: HTTP/1.1)
CONNECT youtubei.googleapis.com:443 HTTP/1.1
User-Agent: com.google.android.youtube/12.05.53(Linux; U; Android 6.0.1; pt_BR; SM-J500M Build/MMB29M) gzip
Host: youtubei.googleapis.com

How to get the answer from the website? (POST/GET)?

Is this possible?

[2017-03-02 17:40] #354 closed

[2017-03-05 22:29] jekh commented on #353
@Weakie Can you test this against the latest 1.1.2 release, that contains the double-Gateway Timeout fix?

[2017-03-05 23:03] jekh commented on #348
This issue should be fixed in the 1.1.2 release, so I'll close this issue.

[2017-03-05 23:03] #348 closed

[2017-03-05 23:05] jekh commented on #344
I'm going to close this issue since there seem to be multiple questions/issues. Feel free to open a new issue for each specific issue you're facing.

[2017-03-05 23:05] #344 closed

[2017-03-05 23:05] jekh commented on #341
I'll close this issue since there hasn't been any update, but feel free to reopen with more information.

[2017-03-05 23:05] #341 closed

[2017-03-05 23:08] jekh commented on #308
1.1.2 adds the `allowRequestsToOriginServer` bootstrap option, which allows LP to act as a reverse proxy. LP doesn't have any special support for acting as a reverse proxy, but there is now nothing preventing you from implementing a reverse proxy on top of LP (and several people have done so).

If you do encounter any issues when using LP as a reverse proxy, feel free to open an issue and/or PR.

[2017-03-05 23:08] #308 closed

[2017-03-05 23:10] jekh commented on #268
I'm going to close this issue, as it's a bit broad. Feel free to open an issue and/or PR to address specific performance issues, though.

[2017-03-05 23:10] #268 closed

[2017-03-05 23:11] jekh commented on #195
I'm going to close this issue, as it appears the OP's question has been resolved.

[2017-03-05 23:11] #195 closed

[2017-03-05 23:12] #201 closed

[2017-03-05 23:12] jekh commented on #162
I believe this was fixed a few releases ago, so I'll go ahead and close this issue.

[2017-03-05 23:12] #162 closed

[2017-03-05 23:16] jekh commented on #255
I believe this was fixed in the issue referenced above, so I'll go ahead and close this issue.

[2017-03-05 23:16] #255 closed

[2017-03-05 23:17] jekh commented on #194
I'll go ahead and close this issue since netty 5 is still pre-beta. Netty 4.1 is fully supported, however.

[2017-03-05 23:17] #194 closed

[2017-03-05 23:18] #99 closed

[2017-03-05 23:19] jekh commented on #152
Since this issue hasn't been updated in ~2 years, and the underlying issue appears to be a non-compliant server, I'll close this issue.

[2017-03-05 23:19] #152 closed

[2017-03-05 23:20] jekh commented on #56
I believe TLS is working well in recent releases, so I'll close this issue.

[2017-03-05 23:20] #56 closed

[2017-03-05 23:21] jekh commented on #6
Since this issue is old and hasn't been updated for some time, I'll go ahead and close it.

[2017-03-05 23:21] #6 closed

[2017-03-06 05:18] Weakie commented on #353
@jekh Hi, jekh, I test the latest 1.1.2 release, and review the code as well. this issue is fixed after @luleyl separate the timeout into two methods in ClientToProxyConnection, the writeGatewayTimeout() is only triggered when the clientToProxy detected timeout, thanks~

[2017-03-06 05:20] #353 closed

[2017-03-09 18:31] garydgregory commented on #229
Any thoughts on updating LP to Netty 4.1.x sooner rather than later?

[2017-03-17 03:57] mjallday opened #357 "De-reference Exception"
#351 fixed the issue with our memory leak error occasionally appearing.

But the path does not appear to be consistent. We're now seeing most requests (I assume the ones that did _not_ generate the leak message) printing this stack trace telling us that we de-referenced the object one too many times.

[code]

It does not break the app but it's noisy in our logs.

[2017-03-22 02:18] wolflowhereu opened #359 "modify response(Bad Gateway:xxxxxxx)"
`private boolean respondWithShortCircuitResponse(HttpResponse httpResponse) {
        // we are sending a response to the client, so we are done handling this request
        this.currentRequest = null;

        HttpResponse filteredResponse = (HttpResponse) currentFilters.proxyToClientResponse(httpResponse);
        if (filteredResponse == null) {
            disconnect();
            return fals

[2017-03-22 02:21] wolflowhereu commented on #359
write(filteredResponse);

[2017-03-24 20:42] mjallday opened #360 "NullPointerException When Calling ProxyUtils.isHEAD"
https://github.com/adamfisk/LittleProxy/blob/master/src/main/java/org/littleshoot/proxy/impl/ProxyUtils.java#L346-L348

Looks like somehow the request that comes in is null.

[code]

[2017-03-26 14:10] angiarao commented on #193
We can provide a goOffline method and not change the existing syntax.. something like which ignores the request.. I had implemented this in a custom manner inside readHttpInitial.. was working fine for my purposes

basically a atomic boolean flag 'isOffline' to check whether its offline..

       if(this.proxyServer.isOffline.get()){
        	LOG.debug("proxy is offline. Hence ignoring the request

[2017-03-27 19:09] mjallday commented on #360
To give a little more context: It looks like this is an issue when using a chained proxy

[code]

[2017-04-10 10:43] alinvasile opened #363 "How to modify chunked request body in filter?"
Hi!

Is it possible to write a completely new request bofy in filter when the request is chunked? It seems that DefaultLastHttpContent#content returns a sliced ByteBuf that cannot have the capacity increased.

Thanks!
Alin

[2017-04-10 10:56] alinvasile commented on #363
I managed to do it by overriding getMaximumRequestBufferSizeInBytes and then I had access to a FullHttpRequest instance.

[2017-04-10 10:56] #363 closed

[2017-04-18 15:37] DevSidious opened #364 "Update confusing javadocs"
In the **SslEngineSource** interface (SslEngineSource.java) the following javadoc

    /**
     * Returns an {@link SSLEngine} to use for a server connection from
     * LittleProxy to the client.
     *
     * @return
     */
    SSLEngine newSslEngine();

uses confusing and wrong wording. **Servers don't stereotypically connect to clients**. ;)

_"Returns an {@link SSLEngine} to use for a server

[2017-04-19 12:30] zhiying8710 commented on #345
@jekh did this limitation be removed?

[2017-04-20 16:23] egorzamaraev opened #365 "ClientToProxy connection hangs when IOException in ProxyToServer connections occurs"
use version 1.1.2

try to access server and server reset connection (reset by peer) but client to proxy connection hangs.
After minute we got idle connection and kill them. But i thought that little proxy should reset client connection automatically when IO exception occurs in server connection

DEBUG LOG of request (siplie request without any additional or ajax)

`DEBUG [2017-04-20 19:13:03,602]

[2017-04-20 20:02] DevSidious opened #366 "Massive issue or massive misunderstanding: withSslEngineSource"
According to my understanding of LittleProxy's javadocs, the **withSslEngineSource** method is supposed to enable a secure connection between a client and the proxy server (client authentication being optional).

    /**
     * <p>
     * Specify an {@link SslEngineSource} to use for encrypting inbound
     * connections. Enabling this will enable SSL client authentication
     * by default (see {

[2017-04-30 20:41] rcriosbr opened #367 ".withTransparent(true) not working"
I'm starting a server as follows:

`HttpProxyServer server = DefaultHttpProxyServer.bootstrap().withPort(3128).withTransparent(true).start();`

And redirecting the traffic as follows:

`iptables -t nat -A OUTPUT -p tcp -o wlp18s0 --dport 80 -j DNAT --to 127.0.0.1:3128`

From my browser, I'm trying to load a simple page (**http://www.tldp.org/HOWTO/TransparentProxy.html**), but I receive a **Bad Re

[2017-05-01 14:12] rcriosbr commented on #367
Reading the comments into **ClientToProxyConnection**, and the RFC 7230, i understand that the behaviour of **.withTransparent(true)** is correct. It should remove the host from request line.

Since the host must be striped from the request line (and based on RFC: "_open (or reuse) a TCP connection_"), how do I use LittleProxy into this scenario (iptables > littleproxy > origin server)?

[2017-05-01 14:20] rcriosbr commented on #367
Reading the comments into ClientToProxyConnection, and the RFC 7230, i understand that the behaviour of .withTransparent(true) is correct. It should remove the host from request line.

[2017-05-01 14:20] #367 closed

[2017-05-07 07:38] LusciousPear opened #368 "Returning Arbitrary HttpResponse"
I'm trying to build a proxy which calls out to a JVM library, does some transformations, and returns an HttpResponse *without* actually connecting to a server.

It needs to work for standard and HTTPS workflows (I am using LittleProxy-MITM)

My problem is that I'm able to connect and generate the right Response in the library, but my browser just sits there for 100 seconds and returns a blank resp

[2017-05-07 18:10] LusciousPear commented on #368
Body issue resolved -- but is there a way to do this without the dummy server?

[2017-05-17 20:12] LusciousPear opened #369 "Redirects take 70 Seconds"
When more than one 302 redirect is received from the proxy, browsers seem to "hang" for 70 seconds between each redirect.

Adding "Connection: Close" to the headers does not seem to help.

Here is the relevant ProxyFilterAdapter. It writes requests to a "dummy" endpoint, and then we do some internal Clojure code to build a proper response. We are pretty sure the Clojure code is producing correct o

[2017-05-24 07:00] wolflowhereu opened #370 "LEAK: ByteBuf.release() with 1.1.2"
with : littleproxy-1.1.2.jar  netty-all-4.0.45.Final.jar

`2017-05-24 12:40:29,382 [LittleProxy-0-ClientToProxyWorker-2] ERROR io.netty.util.ResourceLeakDetector - LEAK: ByteBuf.release() was not called before it's garbage-collected. See http://netty.io/wiki/reference-counted-objects.html for more information.
Recent access records: 2
#2:
	io.netty.buffer.AdvancedLeakAwareCompositeByteBuf.retain(A

[2017-05-25 23:08] spyhunter99 opened #371 "Question on web sockets"
Does the API still fire off on web socket messages?  RFC 6455 for reference

[2017-05-26 19:37] VanitySoft opened #372 "decoderResult failure when using iptables with transparent proxy enabled."
I have littleproxy with MITM(Impersonating) working perfectly.
below works nicely.
`wget https://facebook.com --ca-cert=/home/jeryl/generated-ca.cer   -e use_proxy=on -e https_proxy=http://10.1.1.1:8444  `

 I now want to transparently configure my box to use the proxy on all outbound requests over 443.
my proxy is running on a separate unix 'box1' on our network 10.1.1.1 on port 8444
so  I update

[2017-05-31 14:07] G1GC opened #373 "Handling server SSL handshake locally during MITM"
We have multiple proxies in our infrastructure. We wanted to build another proxy that acts as a parent to all the proxies and decides the routing to other proxies based on certain rules. Currently, we're using LittleProxy with MITM to intercept requests flow to solve the problem. During CONNECT request, LittleProxy makes a remote connection to the server, which we think is redundant for our use ca